<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: head (title='Admin')">
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="main">
    <div class="main-box">
        <div class="main-box-header">
            User Options
        </div>
        <div class="main-box-content">
            <a th:href="@{/createUser}">Create new user</a><br/>
            <a th:href="@{/editUsers}">Edit existing users</a>
        </div>
    </div>
    <div class="main-box">
        <div class="main-box-header">
            Ward Options
        </div>
        <div class="main-box-content">
            Create wards<br/>
            Edit existing wards<br/>
            Delete wards (put into edit?)
        </div>
    </div>
    <div class="main-box">
        <div class="main-box-header">
            Job Options
        </div>
        <div class="main-box-content">
            Add/edit/delete job categories<br/>
            Add/edit/delete risks
        </div>
    </div>
</div>

</body>
</html>