<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: head (title='Manage Categories')">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="/js/editEntries.js"></script>

<script>
    function clearForms() {
        document.getElementById('name').value = '';
        var errorMessages = document.getElementsByClassName('error');
        /*<![CDATA[*/
        for (let i = 0; i < errorMessages.length; i++) {
            errorMessages[i].style.display = 'none';
        }
        /*]]>*/
    }
</script>

<div id="wrapper">
    <table class="page-table">
        <tr>
            <td>
                <a th:href="@{/admin}" class="custom-button white-outlined"><i class="fa fa-arrow-left"></i></a>
            </td>
            <td>
                Job Categories
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>
                    <button class="custom-button black-outlined" data-toggle="collapse" data-target="#new-category"
                            th:classappend="!${errs} ? collapsed" onclick="clearForms();">
                        <span class="if-collapsed"><i class="fa fa-plus"></i> New</span>
                        <span class="if-not-collapsed"><i class="fa fa-times"></i> Cancel</span>
                    </button>
                </div>
                <div class="collapse" id="new-category" data-parent="#wrapper" th:classappend="${errs} ? show">
                    <form action="#" th:action="@{/admin/addCategory}" th:object="${newCat}" method="post" class="form-inline">
                        <table class="input-layout">
                            <tr>
                                <td>Category name</td>
                                <td><input type="text" th:field="*{name}" id="name" placeholder="Category name"/></td>
                                <td><span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button class="custom-button black-outlined" type="submit"><i class="fa fa-check"></i></button></td>
                                <td></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </td>
        </tr>
        <tr th:each="cat,iterStat : ${categories}">
            <td>
                <!--<button class="custom-button black-outlined" th:id="link+${iterStat.count}" th:onclick="'show('+${iterStat.count}+','+${categories.size()}+');'">-->
                    <!--<i class="fa fa-pencil"></i>-->
                <!--</button>-->
            </td>
            <td>
                <div th:text="${cat.name}"></div>
                <form th:action="@{/admin/renameCategory(id=${cat.id})}" th:id="input+${iterStat.count}" style="display: none;" method="post" class="form-inline">
                    <input type="text" placeholder="Enter new category name" th:field="*{newCat.name}" />
                    <button class="custom-button black-outlined" type="submit"><i class="fa fa-check"></i></button>
                </form>
            </td>
        </tr>
    </table>
</div>

</body>
</html>