<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: head (title='Select User To Edit')">
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="main-box-header">
    <a th:href="@{/admin/editUserFilter}" class="back-button"><i class="fa fa-arrow-circle-left"></i></a>
    Select User To Edit
</div>

<table id="patient-info">
        <tr>
            <td>Title</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Username</td>
            <td>Email</td>
            <td></td>
            <td></td>
        </tr>

        <tr th:each="user : ${MatchedUsers}">
            <td>
                <span th:text="${user.title.toString()}"></span>
            </td>
            <td>
                <span th:text="${user.firstName}"></span>
            </td>
            <td>
                <span th:text="${user.lastName}"></span>
            </td>
            <td>
                <span th:text="${user.username}"></span>
            </td>
            <td>
                <span th:text="${user.email}"></span>
            </td>
            <form action="#" th:action="@{/admin/editUser/{id}(id=${user.id})}" method="get" class="form-inline">
                <td><button class="orange-button"  type="submit" >EditUser</button></td>
            </form>
            <form action="#" th:action="@{/admin/deleteUser/{id}(id=${user.id})}" th:method="delete" class="form-inline">
                <td><button class="orange-button"  type="submit" >Delete</button></td>
            </form>
        </tr>
    </table>
</body>
</html>