<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: head (title='Manage Categories')">
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="main">
    <div class="main-box">
        <div class="main-box-header">
            <a th:href="@{/admin}" class="back-button"><i class="fa fa-arrow-circle-left"></i></a>
            New Job Category
        </div>
        <div class="main-box-content">
            <form action="#" th:action="@{/admin/addCategory}" th:object="${newCat}" method="post" class="form-inline">
                <table class="input-layout">
                    <tr>
                        <td>Category name</td>
                        <td><input type="text" th:field="*{name}" id="name" placeholder="Category name"/></td>
                        <td><!--Error message--></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="custom-button orange-filled" type="submit">Submit</button></td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="main-box">
        <div class="main-box-header">
            Existing Categories
        </div>
        <div class="main-box-content">
            <table>
                <tr th:each="cat,iterStat : ${categories}">
                    <td><span th:text="${cat.name}"></span></td>
                    <td>
                        <button class="custom-button orange-filled" th:id="link+${iterStat.count}" th:onclick="'show('+${iterStat.count}+','+${categories.size()}+');'" style="display: block">Edit</button>
                        <form th:action="@{/admin/renameCategory(id=${cat.id})}" th:id="input+${iterStat.count}" style="display: none;" method="post" class="form-inline">
                            <input type="text" placeholder="Enter new category name" th:field="*{newCat.name}" />
                            <button class="custom-button orange-filled" type="submit">Submit</button>
                        </form>
                    </td>
                    <!--<td><a th:href="@{/admin/deleteCategory(id=${cat.id})}">Delete</a></td>-->
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="/js/editEntries.js"></script>
</body>
</html>