<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: head (title='Manage Risks')">
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="main">
    <div class="main-box">
        <div class="main-box-header">
            <a th:href="@{/admin}" class="back-button"><i class="fa fa-arrow-circle-left"></i></a>
            New Risk
        </div>
        <div class="main-box-content">
            <form action="#" th:action="@{/admin/addRisk}" th:object="${newRisk}" method="post" class="form-inline">
                <table class="input-layout">
                    <tr>
                        <td>Risk name</td>
                        <td><input type="text" th:field="*{name}" id="name" placeholder="Risk name"/></td>
                        <td><!--Error message--></td>
                    </tr>
                    <tr>
                        <td>Risk acronym</td>
                        <td><input type="text" th:field="*{acronym}" id="name" placeholder="Risk acronym"/></td>
                        <td><!--Error message--></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="custom-button orange-filled" type="submit">Submit</button></td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="main-box">
        <div class="main-box-header">
            Existing Risks
        </div>
        <div class="main-box-content">
            <table>
                <tr th:each="risk,iterStat : ${risks}">
                    <td><span th:text="${risk.name}"></span></td>
                    <td><span th:text="${risk.acronym}"></span></td>
                    <td>
                        <button class="custom-button orange-filled" th:id="link+${iterStat.count}" th:onclick="'show('+${iterStat.count}+','+${risks.size()}+');'" style="display: block">Edit</button>
                        <form th:action="@{/admin/renameRisk(id=${risk.id})}" method="post" class="form-inline"
                              th:id="input+${iterStat.count}" style="display: none">
                            <input type="text" placeholder="new name" th:field="*{newRisk.name}"/>
                            <input type="text" placeholder="new acronym" th:field="*{newRisk.acronym}"/>
                            <button class="custom-button orange-filled" type="submit">Submit</button>
                        </form>
                    </td>
                    <!--<td><a th:href="@{/admin/deleteRisk(id=${risk.id})}">Delete</a></td>-->
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="/js/editEntries.js"></script>
</body>
</html>