<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: head (title='Manage Risks')">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>

<body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="/js/editEntries.js"></script>

<div th:replace="fragments/header :: header">&nbsp;</div>

<div id="wrapper">
    <table class="page-table" id="risks">
        <tr>
            <td>
                <a th:href="@{/admin}" class="custom-button white-outlined"><i class="fa fa-arrow-left"></i></a>
            </td>
            <td colspan="2">
                Patient Risks
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div>
                    <button class="custom-button black-outlined collapsed" data-toggle="collapse" data-target="#new-risk">
                        <span class="if-collapsed"><i class="fa fa-plus"></i> New</span>
                        <span class="if-not-collapsed"><i class="fa fa-times"></i> Cancel</span>
                    </button>
                </div>
                <div class="collapse" id="new-risk" data-parent="#wrapper">
                    <form action="#" th:action="@{/admin/addRisk}" th:object="${newRisk}" method="post" class="form-inline">
                        <table class="input-layout">
                            <tr>
                                <td>Risk name</td>
                                <td><input type="text" th:field="*{name}" id="name" placeholder="Risk name"/></td>
                                <td><!--Error message--></td>
                            </tr>
                            <tr>
                                <td>Risk acronym</td>
                                <td><input type="text" th:field="*{acronym}" id="name" placeholder="Risk acronym"/></td>
                                <td><!--Error message--></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button class="custom-button black-outlined" type="submit"><i class="fa fa-check"></i></button></td>
                                <td></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </td>
        </tr>
        <tr th:each="risk,iterStat : ${risks}">
            <td>
                <button class="custom-button black-outlined" th:id="link+${iterStat.count}" th:onclick="'show('+${iterStat.count}+','+${risks.size()}+');'">
                    <i class="fa fa-pencil"></i>
                </button>
            </td>
            <td><span th:text="${risk.acronym}"></span></td>
            <td>
                <div th:text="${risk.name}"></div>
                <form th:action="@{/admin/renameRisk(id=${risk.id})}" method="post" class="form-inline"
                      th:id="input+${iterStat.count}" style="display: none">
                    <input type="text" placeholder="new name" th:field="*{newRisk.name}"/>
                    <input type="text" placeholder="new acronym" th:field="*{newRisk.acronym}"/>
                    <button class="custom-button black-outlined" type="submit"><i class="fa fa-check"></i></button>
                </form>
            </td>
        </tr>
    </table>
</div>

</body>
</html>