/**********************************************************************************************************************/
/* Colours */
/**********************************************************************************************************************/
/*

https://www.england.nhs.uk/nhsidentity/identity-guidelines/colours/

NHS BLUE #005EB8
DARK BLUE #003087
BRIGHT BLUE #0072CE
LIGHT BLUE #41B6E6

DARK GREY #425563
MID GREY #768692
LIGHT GREY #E8EDEE

NHS GREEN #009639
DARK GREEN #006747
LIGHT GREEN #78BE20

RED #DA291C
ORANGE #ED8B00
LIGHT ORANGE #FFB81C
YELLOW #FAE100

 */

/**********************************************************************************************************************/
/* Misc */
/**********************************************************************************************************************/

body {
    background-color:#FFF;
    margin: 0px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
}

* {
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

*:hover {
    -webkit-transition: all .08s ease-out;
    -moz-transition: all .08s ease-out;
    -ms-transition: all .08s ease-out;
    -o-transition: all .08s ease-out;
    transition: all .08s ease-out;
}

.orange-button {
    display: inline;
    background-color: #ED8B00;
    width: 100%;
    height: 80%;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    border-radius: 42px;
    color: white;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: none;
}


.orange-button:hover {
    text-decoration: none;
    background-color: #FFB81C;
}

.back-button {
    font-size: 18px;
    padding-right: 5px;
    color: #005EB8;
}

.back-button:hover {
    color: #0072CE;
}

input[type="text"], input[type="password"], input[type="email"] {
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 120px;
    width: 12vw;
}

input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder {
    color: rgba(0, 94, 184, 0.3);

}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 1);
}

/**********************************************************************************************************************/
/* Header */
/**********************************************************************************************************************/

#header {
    background-color: #005EB8;
    height: 50px;
    width: 100%;
    position: relative;
    top: 0px;
    z-index: 999999;
    -moz-box-shadow:    0px 0px 4px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 0px 4px 1px rgba(0, 0, 0, 0.3);
    padding: 0px 1vw;
}

.header-container {
    padding: 0 1vw 0 1vw;
}

.header-container ul {
    list-style-type: none;
    height: 100%;
    display: table;
    margin: 0;
    padding: 0;
}

.header-container ul li {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    padding: 0 1vw;
    font-size: 18px;
}

.header-container ul li a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.header-container ul li a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

#logo-container {
    display: block;
    height: 100%;
    float: left;
}

#logo-container #logo {
    height: 100%;
    padding: 10px 0px 10px 0px;
}

#menu-button-container {
    display: block;
    height: 100%;
    float: left;
}

#menu-container {
    height: 100%;
    width: auto;
    overflow: hidden;
}

#user-container {
    display: block;
    height: 100%;
    float: right;
}

#user-container ul {
    list-style-type: none;
    height: 100%;
    display: table;
    margin: 0;
    padding: 0;
}

#user-container ul li {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    padding: 0 1.5vw;
    font-size: 18px;
}

#user-container ul li a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

#user-container ul li a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

#user-name {
    color: rgba(255, 255, 255, 0.7);
}

/*Replace username with icon*/
@media (min-width: 601px) {
    #user-icon {
        display: none;
    }
}
@media (max-width: 600px) {
    #user-name {
        display: none;
    }
}
/**/

/*Hide menu and show hamburger*/
@media (min-width: 801px) {
    #menu-button-container {
        display: none;
    }
}
@media (max-width: 800px) {
    #menu-container ul {
        display: none;
    }
}
/**/

.fa-cog {
    -webkit-transition:transform .7s ease-out;
    -moz-transition:transform .7s ease-out;
    -o-transition:transform .7s ease-out;
    transition:transform .7s ease-out;
}

.fa-cog:hover {
    transform: rotate(90deg);
    -webkit-transition:transform .7s ease-out;
    -moz-transition:transform .7s ease-out;
    -o-transition:transform .7s ease-out;
    transition:transform .7s ease-out;
}

/**********************************************************************************************************************/
/* Login page */
/**********************************************************************************************************************/

#login-background {
    background-image: url(/images/hospital.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
}

#login-main {
    height: 100%;
    width: 100%;
}

#login-container {
    display: block;
    /*border: 1px solid black;*/
    height: 100%;
    float: right;
}

#login-form-table {
    /*border: 1px solid black;*/
    height: 50px;
}

#login-form-table tr td{
    /*border: 1px solid black;*/
    padding: 0 0.5vw;
}

#login-container input[type="text"], input[type="password"] {
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 120px;
    width: 12vw;
}

#login-container input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: rgba(0, 94, 184, 0.3);

}

#login-container input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 1);
}

#electronic-handover {
    width: 100%;
    height: 80%;
    text-align: center;
    color: white;
    font-size: 8vh;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

/**********************************************************************************************************************/
/* Topbar */
/**********************************************************************************************************************/

/*#topbar {*/
    /*background-color:#0072CE;*/
    /*height:50px;*/
    /*font-size:20px;*/
    /*line-height: 50px;*/
    /*color:#FFFFFF;*/
    /*padding: 0 2vw;*/
    /*width: 100%;*/
/*}*/

/**********************************************************************************************************************/
/* Patients */
/**********************************************************************************************************************/

#patient-info {
    border: 1px solid #768692;
    width: 100%;
}

#patient-info tr td{
    vertical-align: top;
    padding: 5px 10px;
}

#patient-info tr:first-child {
    width: 100%;
    background-color: #E8EDEE;
    border: 1px solid #768692;
    height: 35px;
}

#patient-info tr:first-child td {
    font-size: 16px;
    color: #005EB8;
    vertical-align: middle;
}

.patient-detail-row {
    padding: 2px 0;
}

.patient-detail-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    color: #425563;
    padding-right: 10px;
}

.patient-detail {
    font-size: 14px;
    color: #000000;
    padding-right: 10px;
}

/**********************************************************************************************************************/
/* Main window */
/**********************************************************************************************************************/

#main {
    /*border: 1px solid black;*/
    display: block;
    height: 100%;
    width: 100%;
    padding: 4vh 2vw;
}

.main-box {
    border: 1px solid #768692;
    width: 100%;
    margin-bottom: 4vh;
}

.main-box-header {
    background-color: #E8EDEE;
    border-bottom: 1px solid #768692;
    width: 100%;
    height: 35px;
    padding: 0px 10px;
    line-height: 35px;
    font-size: 16px;
    color: #005EB8;
}

.main-box-content {
    display: block;
    width: 100%;
    padding: 5px 10px;
}

/*.overviewbox {*/
    /*width: 100%;*/
    /*min-height: 15vh;*/
    /*padding: 8px 0px 8px 0px;*/
    /*margin-bottom: 20px;*/
    /*background: #E8EDEE;*/
    /*!*border-radius: 8px;*!*/
/*}*/

/*.overviewbox-wrapper {*/
    /*width: 100%;*/
/*}*/

/*.overview-box-title {*/
    /*font-size: 17px;*/
    /*color: rgba(0, 94, 184, 1);*/
    /*line-height: 17px;*/
    /*vertical-align: middle;*/
    /*margin-left:1vw;*/
    /*margin-bottom: 1px;*/
/*}*/

/*.overview-box-title a:hover {*/
    /*text-decoration: none;*/
    /*color: rgba(0, 94, 184, 0.8);*/
/*}*/

/*.line {*/
    /*display: block;*/
    /*height: 1px;*/
    /*border-top: 1px solid rgba(0, 0, 0, 0.3);*/
    /*margin-top: 10px;*/
/*}*/

/*#admin-box {*/
    /*padding: 15px;*/
    /*color: #005EB8;*/
    /*font-size: 15px;*/
/*}*/

/*#admin-box a{*/
    /*color: rgba(0, 94, 184, 1);*/
/*}*/

/*#admin-box a:hover{*/
    /*text-decoration: none;*/
    /*color: rgba(0, 94, 184, 0.8);*/
/*}*/

/*#add-patient-icon {*/
    /*color: rgba(0, 94, 184, 1);*/
    /*font-size: 19px;*/
    /*padding: 2px 15px 0px 0px;*/
/*}*/

/*#add-patient-icon:hover {*/
    /*color: rgba(0, 94, 184, 0.8);*/
/*}*/

/**********************************************************************************************************************/
/* Accordion */
/**********************************************************************************************************************/

.ac-container label {
    padding: .7em 2em;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    color:#555555;
    letter-spacing: 1px;
    line-height: 33px;
    font-size: 1em;
    background: #E8EDEE;
}

.ac-container label:hover {
    background: #d2d7d8;
    color: #000;
}

.ac-container input:checked + label, .ac-container input:checked + label:hover {
    color: #000;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
    background: #f0f2f4;
}

.ac-container label:after, .ac-container input:checked + label:hover:after {
    content: '';
    position: absolute;
    right: 25px;
    top: 22px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

.ac-container input:checked + label:after {
    content: '';
    position: absolute;
    right: 25px;
    top: 22px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.ac-container input {
    display: none;
}

.ac-container article {
    background: #FFFFFF;
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p {
    line-height: 23px;
    font-size: 14px;
    padding: 15px 20px;
    color: #999;
    background-color: #E8EDEE;
}

.ac-container input:checked ~ article {
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container input:checked ~ article.ac-small {
    height: auto;
}

.ac-container input:checked ~ article.ac-medium {
    height: 180px;
}

.ac-container input:checked ~ article.ac-large {
    height: 230px;
}

.ac-small ul {
    padding: 0;
    /*-- border-bottom: 2px solid #272b2d; --*/
}

.ac-small ul li {
    list-style-type: none;
    font-size: 14px;
    color: #555555;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    padding: 0.9em 0 0.9em 2em;
    background: #FFFFFF;
}

.ac-small ul li a:hover {
    background: #bdc1c2;
    color: #fff;
}

.w3l-accordion-mk {
    padding-right: 0;
}

.bodywrap.h1 {
    margin: 0;
}

/**********************************************************************************************************************/
/* Patient titles */
/**********************************************************************************************************************/

@media (min-width: 601px) {
    #patient-title-table-name {
        display: none;
    }

    #handover-patient-title-table-name {
        display: none;
    }
}

@media (max-width: 600px) {
    #patient-title-table-name-bed {
        display: none;
    }

    #handover-patient-title-table-name-bed {
        display: none;
    }
}

@media (min-width: 701px) {
    #patient-title-table-name-bed {
        display: none;
    }

    #handover-patient-title-table-name-bed {
        display: none;
    }
}

@media (max-width: 700px) {
    #patient-title-table-name-bed-ward {
        display: none;
    }

    #handover-patient-title-table-name-bed-ward {
        display: none;
    }
}

.patient-title-table {
    color: #555555;
    font-size: 14px;
    width: 100%;
}
.patient-title-table tr td {
    padding: 0 1vw 0 1vw;
}
.patient-title-table-bed {
    width:1px;
    white-space:nowrap;
    font-size: 14px;
}
.patient-title-table-ward {
    width:1px;
    white-space:nowrap;
    font-size: 14px;
}

/**********************************************************************************************************************/
/* Patient details */
/**********************************************************************************************************************/

@media (min-width: 801px) {
    #patient-info-table-1-col {
        display: none;
    }

    #handover-patient-info-table-1-col {
        display: none;
    }
}

@media (max-width: 800px) {
    #patient-info-table-2-cols {
        display: none;
    }

    #handover-patient-info-table-2-cols {
        display: none;
    }
}

@media (min-width: 1101px) {
    #patient-info-table-2-cols {
        display: none;
    }

    #handover-patient-info-table-2-cols {
        display: none;
    }
}

@media (max-width: 1100px) {
    #patient-info-table-3-cols {
        display: none;
    }

    #handover-patient-info-table-3-cols {
        display: none;
    }
}

.patient-info-table {
    table-layout: fixed;
    border: none;
    font-size: 13px;
    margin: auto;
    width: calc(100% - 50px);
    margin-top: 20px;
    margin-bottom: 20px;
    color: #555555;
}

.patient-info-table tr td {
    padding: 0.5vw;
}

.patient-info-table h1 {
    font-weight: bold;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    color: #555555;
}

.patient-info-table a {
    color: #005EB8;
}

.patient-info-table a:hover {
    color: #005EB8;
    text-decoration: none;
    font-weight: bold;
}

.patient-info-icon {
    font-size: 20px;
    padding-right: 5px;
    color: rgba(85, 85, 85, 0.7);
}

.patient-info-icon:hover {
    padding-right: 5px;
    color: rgba(85, 85, 85, 1);
}

/**********************************************************************************************************************/
/* Other */
/**********************************************************************************************************************/

.login-form p {
    font-size: 0.9em;
    text-align: center;
    line-height: 1.9em;
    color: #fff;
    margin-top: 1em;
}

.agileits_signin_form input[type="submit"]:hover {
    background:#4cd4b0;
}

.roundedbutton {

    padding: 10px 0;
    width: 36%;
    font-size: 1em;
    border: none;
    color: #fff;
    background: #000;
    outline: none;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.input-form {
    margin-top: 2.5vh;
}