/**********************************************************************************************************************/
/* Colours */
/**********************************************************************************************************************/
/*

https://www.england.nhs.uk/nhsidentity/identity-guidelines/colours/

NHS BLUE #005EB8
DARK BLUE #003087
BRIGHT BLUE #0072CE
LIGHT BLUE #41B6E6

DARK GREY #425563
MID GREY #768692
LIGHT GREY #E8EDEE

NHS GREEN #009639
DARK GREEN #006747
LIGHT GREEN #78BE20

RED #DA291C
ORANGE #ED8B00
LIGHT ORANGE #FFB81C
YELLOW #FAE100

 */

/**********************************************************************************************************************/
/* Misc */
/**********************************************************************************************************************/

body {
    background-color: #f9fafc;
    margin: 0px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

* {
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

*:hover {
    -webkit-transition: all .08s ease-out;
    -moz-transition: all .08s ease-out;
    -ms-transition: all .08s ease-out;
    -o-transition: all .08s ease-out;
    transition: all .08s ease-out;
}

.pending-job {
    font-size: 11px;
    color: #D1D8DC;
}

.completed-job {
    font-size: 11px;
    /*color: #78BE20;*/
    color: #D1D8DC;
}

.fa-exclamation-circle {
    color: #DA291C;
}

/**********************************************************************************************************************/
/* Buttons */
/**********************************************************************************************************************/

.custom-button {
    padding: 3px 7px;
    border-radius: 40px;
    border: 1px solid;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
}

.black-outlined {
    background-color: transparent;
    border-color: #555555;
    color: #555555;
}

.black-outlined:hover {
    border-color: #000000;
    color: #000000;
    text-decoration: none;
}

.white-outlined {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
}

.white-outlined:hover {
    border-color: #ffffff;
    color: #ffffff;
    text-decoration: none;
}

.orange-filled {
    background-color: #ED8B00;
    border-color: #ED8B00;
    color: white;
}

.orange-filled:hover {
    background-color: #FFB81C;
    border-color: #FFB81C;
    color: white;
    text-decoration: none;
}

.orange-outlined {
    background-color: transparent;
    border-color: #FFB81C;
    color: #FFB81C;
}

.orange-outlined:hover {
    border-color: #ED8B00;
    color: #ED8B00;
    text-decoration: none;
}

.green-filled {
    background-color: #78BE20;
    border-color: #78BE20;
    color: white;
}

.green-filled:hover {
    background-color: #009639;
    border-color: #009639;
    color: white;
    text-decoration: none;
}

.green-outlined {
    background-color: transparent;
    border-color: #78BE20;
    color: #78BE20;
}

.green-outlined:hover {
    border-color: #009639;
    color: #009639;
    text-decoration: none;
}

/**********************************************************************************************************************/
/* Header */
/**********************************************************************************************************************/

#header {
    background-color: #005EB8;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 999999;
    -moz-box-shadow:    0px 0px 4px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
    box-shadow:         0px 0px 4px 2px rgba(0, 0, 0, 0.4);
    padding: 0px 1vw;
}

.header-container {
    padding: 0 1vw 0 1vw;
}

.header-container ul {
    list-style-type: none;
    height: 100%;
    display: table;
    margin: 0;
    padding: 0;
}

.header-container ul li {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    padding: 0 1vw;
    font-size: 18px;
}

.header-container ul li a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.header-container ul li a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

#logo-container {
    display: block;
    height: 100%;
    float: left;
}

#logo-container #logo {
    height: 100%;
    padding: 10px 0px 10px 0px;
}

#menu-button-container {
    display: block;
    height: 100%;
    float: left;
}

#menu-container {
    height: 100%;
    width: auto;
    overflow: hidden;
}

#menu-container button {
    background: none;
    border: none;
}

#user-container {
    display: block;
    height: 100%;
    float: right;
}

#user-container ul {
    list-style-type: none;
    height: 100%;
    display: table;
    margin: 0;
    padding: 0;
}

#user-container ul li {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    padding: 0 1.5vw;
    font-size: 18px;
}

#user-container ul li a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

#user-container ul li a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

#menu-container .current-page,
#user-container .current-page {
    color: white;
    pointer-events: none;
}

#user-name {
    color: rgba(255, 255, 255, 0.7);
}

/*Hide username*/
@media (max-width: 800px) {
    #user-name {
        display: none;
    }
}
/**/

.fa-cog {
    -webkit-transition:transform .7s ease-out;
    -moz-transition:transform .7s ease-out;
    -o-transition:transform .7s ease-out;
    transition:transform .7s ease-out;
}

.fa-cog:hover {
    transform: rotate(90deg);
    -webkit-transition:transform .7s ease-out;
    -moz-transition:transform .7s ease-out;
    -o-transition:transform .7s ease-out;
    transition:transform .7s ease-out;
}

/**********************************************************************************************************************/
/* Login page */
/**********************************************************************************************************************/

#login-background {
    background-image: url(/images/hospital.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
}

#login-main {
    height: 100%;
    width: 100%;
}

#login-container {
    display: block;
    height: 100%;
    float: right;
}

#login-left {
    display: inline-block;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0.5));
    padding: auto;
    text-align:center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #005EB8;
}

#login-right {
    display: inline-block;
    width: 50%;
    height: 100%;
}

#login-left-contents {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#login-slogans {
    text-align: left;
    margin: auto 20%;
}

#login-slogans span {
    padding: 10px 10px 10px 20px;
}

#login-logo {
    display: inline-block;
    width: 200px;
    margin: 30px auto 40px auto;
}

#login-left h2 {
    font-size: 80px;
    font-weight: 100;
    color: #005EB8;
}

#login-slogans h3 {
    font-size: 28px;
}

#login-form-table {
    height: 50px;
}

#login-form-table tr td{
    padding: 0 0.5vw;
}

/**********************************************************************************************************************/
/* Layout */
/**********************************************************************************************************************/

#main-layout {
    width: 100%;
}

#main-layout tr td {
    padding: 10px;
    color: black;
    vertical-align: top;
    text-align: left;
}

#main-layout tr:nth-child(odd) {
    background-color: #edf2f8;
}

#main-layout tr:first-child td {
    background-color: #30384d;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

#main-layout tr td:first-child {
    width: 1px;
    white-space: nowrap;
    min-width: 40px;
}

#main-layout tr td.no-padding {
    padding: 0;
}

#main-layout .job-table,
#main-layout .input-layout {
    width: 100%;
}

#main-layout .job-table tr,
#main-layout .job-table tr td,
#main-layout .input-layout tr,
#main-layout .input-layout tr td {
    background: none;
}

#main-layout .job-table tr:not(.handover, :last-child, :first-child) {
    border-bottom: 1px solid #D1D8DC;
}

#main-layout .job-table tr:not(:first-child) td:first-child,
#main-layout .job-table tr:not(:first-child) td:nth-child(2) {
    width: 1px;
    white-space: nowrap;
    text-align: center;
    min-width: 40px;
}

#main-layout .job-table tr:not(:first-child) td:nth-child(3) {
    width: 8vw;
    min-width: 100px;
}

#main-layout .input-layout {
    width: 100%;
}

#main-layout .input-layout tr,
#main-layout .job-table .input-layout tr {
    border: none;
}

#main-layout .input-layout tr td,
#main-layout .job-table .input-layout tr td {
    color: black;
    font-size: 14px;
    padding: 10px;
}

#main-layout .input-layout tr td:first-child,
#main-layout .job-table .input-layout tr td:first-child {
    text-align: right;
    width: 1px;
    white-space: nowrap;
}

#main-layout .input-layout tr td:nth-child(2),
#main-layout .job-table .input-layout tr td:nth-child(2) {
    text-align: center;
    width: 20vw;
    white-space: normal;
}

#main-layout .input-layout tr td:nth-child(3),
#main-layout .job-table .input-layout tr td:nth-child(3) {
    text-align: left;
    width: auto;
    white-space: normal;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
    display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
    display: none;
}

/**********************************************************************************************************************/
/* Inputs */
/**********************************************************************************************************************/

input {
    height: 25px;
}

*:focus {
    outline: none;
}

input,
.custom-select,
select,
textarea {
    width: 100%;
}

input[type=checkbox],
input[type=radio] {
    width: auto;
    height: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-select  {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
}

.custom-select select {
    height: 25px;
    width: 100%;
    line-height: normal;
    padding-left: 5px;
    border: 1px solid #c8c8c8;
    color: black;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.custom-select:after{
    content: "";
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 6px solid #9f9f9f; /*down arrow color*/
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}

.input-layout tr td:first-child {
    text-align: right;
}

.input-layout tr:last-child td:nth-child(2) {
    text-align: center;
}

.error {
    color: #DA291C;
    font-size: 12px;
    font-weight: bold;
}

.error-input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #DA291C;
}

/**********************************************************************************************************************/
/* Tooltips */
/**********************************************************************************************************************/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}