/**********************************************************************************************************************/
/* Colours */
/**********************************************************************************************************************/
/*

https://www.england.nhs.uk/nhsidentity/identity-guidelines/colours/

NHS BLUE #005EB8
DARK BLUE #003087
BRIGHT BLUE #0072CE
LIGHT BLUE #41B6E6

DARK GREY #425563
MID GREY #768692
LIGHT GREY #E8EDEE
#D1D8DC <-- between mid grey and light grey, using for input placeholders

NHS GREEN #009639
DARK GREEN #006747
LIGHT GREEN #78BE20

RED #DA291C
ORANGE #ED8B00
LIGHT ORANGE #FFB81C
YELLOW #FAE100

 */

/**********************************************************************************************************************/
/* Misc */
/**********************************************************************************************************************/

body {
    background-color: #f9fafc;
    margin: 0px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
}

* {
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

*:hover {
    -webkit-transition: all .08s ease-out;
    -moz-transition: all .08s ease-out;
    -ms-transition: all .08s ease-out;
    -o-transition: all .08s ease-out;
    transition: all .08s ease-out;
}

table tr td {
    padding: 5px;
}

label {
    font-weight: normal;
}

/*Hide text buttons*/
@media (min-width: 901px) {
    .job-icon-button {
        display: none;
    }
}
/*Show icon buttons*/
@media (max-width: 900px) {
    .job-text-button {
        display: none;
    }
}
/**/

.fa-exclamation-circle {
    color: #DA291C;
}

/**********************************************************************************************************************/
/* Buttons */
/**********************************************************************************************************************/

.custom-button {
    padding: 3px 7px;
    border-radius: 40px;
    border: 1px solid;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
}

.black-outlined {
    background-color: transparent;
    border-color: #555555;
    color: #555555;
}

.black-outlined:hover {
    border-color: #000000;
    color: #000000;
    text-decoration: none;
}

.white-outlined {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
}

.white-outlined:hover {
    border-color: #ffffff;
    color: #ffffff;
    text-decoration: none;
}

.orange-filled {
    background-color: #ED8B00;
    border-color: #ED8B00;
    color: white;
}

.orange-filled:hover {
    background-color: #FFB81C;
    border-color: #FFB81C;
    color: white;
    text-decoration: none;
}

.orange-outlined {
    background-color: transparent;
    border-color: #FFB81C;
    color: #FFB81C;
}

.orange-outlined:hover {
    border-color: #ED8B00;
    color: #ED8B00;
    text-decoration: none;
}

.blue-filled {
    background-color: #005EB8;
    border-color: #005EB8;
    color: white;
}

.blue-filled:hover {
    background-color: #0072CE;
    border-color: #0072CE;
    color: white;
    text-decoration: none;
}

.blue-outlined{
    background-color: transparent;
    border-color: #005EB8;
    color: #005EB8;
}

.blue-outlined:hover {
    border-color: #0072CE;
    color: #0072CE;
    text-decoration: none;
}

.green-filled {
    background-color: #78BE20;
    border-color: #78BE20;
    color: white;
}

.green-filled:hover {
    background-color: #009639;
    border-color: #009639;
    color: white;
    text-decoration: none;
}

.green-outlined {
    background-color: transparent;
    border-color: #78BE20;
    color: #78BE20;
}

.green-outlined:hover {
    border-color: #009639;
    color: #009639;
    text-decoration: none;
}

.pink-filled {
    background-color: #AE2573;
    border-color: #AE2573;
    color: white;
}

.pink-filled:hover {
    background-color: #7C2855;
    border-color: #7C2855;
    color: white;
    text-decoration: none;
}

.pink-outlined {
    background-color: transparent;
    border-color: #AE2573;
    color: #AE2573;
}

.pink-outlined:hover {
    border-color: #7C2855;
    color: #7C2855;
    text-decoration: none;
}

.red-filled {
    background-color: #DA291C;
    border-color: #DA291C;
    color: white;
}

.red-filled:hover {
    background-color: #8A1538;
    border-color: #8A1538;
    color: white;
    text-decoration: none;
}

.red-outlined {
    background-color: transparent;
    border-color: #DA291C;
    color: #DA291C;
}

.red-outlined:hover {
    border-color: #8A1538;
    color: #8A1538;
    text-decoration: none;
}

.pending-job {
    font-size: 11px;
    color: #D1D8DC;
}

.completed-job {
    font-size: 11px;
    /*color: #78BE20;*/
    color: #D1D8DC;
}

/**********************************************************************************************************************/
/* Inputs */
/**********************************************************************************************************************/

.error {
    color: #DA291C;
    font-size: 12px;
    font-weight: bold;
}

.input-layout tr td:first-child {
    text-align: right;
}

.input-layout tr:last-child td:nth-child(2) {
    text-align: center;
}

input[type="checkbox"], input[type="radio"] {
    height: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    height: 25px;
}

*:focus {
    outline: none;
}

.custom-select  {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
}

.custom-select select {
    height: 25px;
    width: 100%;
    line-height: normal;
    padding-left: 5px;
    border: 1px solid #c8c8c8;
    color: black;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.custom-select:after{
    content: "";
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 6px solid #9f9f9f; /*down arrow color*/
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}

/**********************************************************************************************************************/
/* Header */
/**********************************************************************************************************************/

#header {
    background-color: #005EB8; /*NHS blue*/
    /*background-color: #33599f; !*NHS dark blue at 80%*!*/
    /*background-color: #004e99; !*NHS blue made darker*!*/
    height: 50px;
    width: 100%;
    /*position: relative;*/
    position: fixed;
    top: 0px;
    z-index: 999999;
    -moz-box-shadow:    0px 0px 4px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
    box-shadow:         0px 0px 4px 2px rgba(0, 0, 0, 0.4);
    padding: 0px 1vw;
}

.header-container {
    padding: 0 1vw 0 1vw;
}

.header-container ul {
    list-style-type: none;
    height: 100%;
    display: table;
    margin: 0;
    padding: 0;
}

.header-container ul li {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    padding: 0 1vw;
    font-size: 18px;
}

.header-container ul li a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.header-container ul li a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

#logo-container {
    display: block;
    height: 100%;
    float: left;
}

#logo-container #logo {
    height: 100%;
    padding: 10px 0px 10px 0px;
}

#menu-button-container {
    display: block;
    height: 100%;
    float: left;
}

#menu-container {
    height: 100%;
    width: auto;
    overflow: hidden;
}

#menu-container button {
    background: none;
    border: none;
}

#user-container {
    display: block;
    height: 100%;
    float: right;
}

#user-container ul {
    list-style-type: none;
    height: 100%;
    display: table;
    margin: 0;
    padding: 0;
}

#user-container ul li {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    padding: 0 1.5vw;
    font-size: 18px;
}

#user-container ul li a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

#user-container ul li a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

#menu-container .current-page,
#user-container .current-page {
    color: white;
    pointer-events: none;
}

#user-name {
    color: rgba(255, 255, 255, 0.7);
}

/*Hide username*/
@media (max-width: 800px) {
    #user-name {
        display: none;
    }
}
/**/

.fa-cog {
    -webkit-transition:transform .7s ease-out;
    -moz-transition:transform .7s ease-out;
    -o-transition:transform .7s ease-out;
    transition:transform .7s ease-out;
}

.fa-cog:hover {
    transform: rotate(90deg);
    -webkit-transition:transform .7s ease-out;
    -moz-transition:transform .7s ease-out;
    -o-transition:transform .7s ease-out;
    transition:transform .7s ease-out;
}

/**********************************************************************************************************************/
/* Login page */
/**********************************************************************************************************************/

#login-background {
    background-image: url(/images/hospital.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
}

#login-main {
    height: 100%;
    width: 100%;
}

#login-container {
    display: block;
    height: 100%;
    float: right;
}

#login-left {
    display: inline-block;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0.5));
    padding: auto;
    text-align:center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #005EB8;
}

#login-right {
    display: inline-block;
    width: 50%;
    height: 100%;
}

#login-left-contents {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#login-slogans {
    text-align: left;
    margin: auto 20%;
}

#login-slogans span {
    padding: 10px 10px 10px 20px;
}

#login-logo {
    display: inline-block;
    width: 200px;
    margin: 30px auto 40px auto;
}

#login-left h2 {
    font-size: 80px;
    font-weight: 100;
    color: #005EB8;
}

#login-slogans h3 {
    font-size: 28px;
}

#login-form-table {
    height: 50px;
}

#login-form-table tr td{
    padding: 0 0.5vw;
}

/*#login-container input[type="text"], input[type="password"] {*/
    /*background-color: rgba(255, 255, 255, 0.9);*/
    /*min-width: 120px;*/
    /*width: 12vw;*/
/*}*/

/*#login-container input[type="text"]::placeholder, input[type="password"]::placeholder {*/
    /*color: rgba(0, 94, 184, 0.3);*/

/*}*/

/*#login-container input[type="text"]:focus, input[type="password"]:focus {*/
    /*outline: none;*/
    /*background-color: rgba(255, 255, 255, 1);*/
/*}*/

#electronic-handover {
    width: 100%;
    height: 80%;
    text-align: center;
    color: white;
    font-size: 8vh;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

/**********************************************************************************************************************/
/* Filtering and Sorting */
/**********************************************************************************************************************/

/*.dropdown {*/
    /*position: relative;*/
    /*display: inline-block;*/
/*}*/

/*.drop-content {*/
    /*display: none;*/
    /*position: absolute;*/
    /*background-color: white;*/
    /*border: 1px solid #768692;*/
/*}*/

/*.drop-content h5, .drop-content h4 {*/
    /*font-size: 12px;*/
/*}*/

/*.drop-content h4 {*/
    /*text-decoration: underline;*/
/*}*/

/*.dropdown:hover .drop-content {*/
    /*display: block;*/
/*}*/

/*.filter-box, .filter-label {*/
    /*!*font-size: 10px;*!*/
/*}*/

/*.filter-label {*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*line-height: inherit;*/
    /*text-decoration: none;*/
/*}*/

/*.patient-table .dropdown-table tr {*/
    /*border: none;*/
    /*background: none;*/
    /*height: auto;*/
    /*!*border: 1px solid #768692;*!*/
/*}*/

/*.patient-table .dropdown-table tr td {*/
    /*!*padding: 0;*!*/
    /*font-size: 14px;*/
    /*color: black;*/
    /*padding: 5px;*/
    /*!*!*border: 1px solid black;*!*!*/
    /*!*width: 1px;*!*/
    /*!*white-space: nowrap;*!*/
/*}*/

/**********************************************************************************************************************/
/* View patient */
/**********************************************************************************************************************/

#patient-info-wrapper {
    background-color: #30384d;
    padding: 15px 30px;
}

.patient-info-label {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.patient-info-text {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
    display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
    display: none;
}

.job-context-table {
    width: 100%;
}

.job-context-table tr td {
    padding: 10px 30px;
    vertical-align: top;
    /*border: 1px solid blue;*/
}

.job-context-table tr:nth-child(even) {
    background-color: #edf2f8;
}

.job-context-table tr:nth-child(odd) {
    background-color: #f9fafc;
}

.job-context-table tr td:first-child {
    width: 170px;
    min-width: 170px;
    max-width: 170px;
}

.job-context-table tr:not(:first-child) td:last-child {
    padding: 0;
    /*border: 1px solid green;*/
}

.job-context-table tr td:nth-child(2) {
    width: 1px;
    white-space: nowrap;
}

.job-context-table #job-context-form tr {
    background: none;
}

.job-context-table #job-context-form tr td {
    padding: 5px;
    vertical-align: middle;
}

.job-context-table #job-context-form tr td:first-child {
    /*border: 1px solid green;*/
    text-align: right;
    width: 1px;
    white-space: nowrap;
    min-width: auto;
    max-width: available;
}

.job-context-table #job-context-form tr td:nth-child(2) {
    white-space: normal;
    width: 20vw;
}

.job-context-table #job-context-form tr:last-child td {
    text-align: center;
}

.job-context-table #job-context-form tr td input,
.job-context-table #job-context-form tr td .custom-select,
.job-context-table #job-context-form tr td select,
.job-context-table #job-context-form tr td textarea {
    width: 100%;
}

.job-context-table .job-table {
    width: 100%;
}

.job-context-table .job-table tr {
    background: none;
    border-bottom: 1px solid #D1D8DC;
}

.job-context-table .job-table .handover {
    border: none;
}

.job-context-table .job-table .handover-form td {
    padding: 0;
}

.job-context-table .job-table tr:last-child {
    border: none;
}

.job-context-table .job-table tr td {
    padding: 5px;
    width: auto;
    min-width: auto;
    max-width: available;
    white-space: normal;
    vertical-align: middle;
}

.job-context-table .job-table tr:first-child td {
    /*border: 1px solid red;*/
    padding: 10px 5px;
}

.job-context-table .job-table tr:not(:first-child) td:first-child,
.job-context-table .job-table tr:not(:first-child) td:nth-child(2) {
    width: 40px;
    min-width: 40px;
    text-align: center;
}

.job-context-table .job-table tr:not(:first-child) td:nth-child(3) {
    width: 10vw;
    min-width: 100px;
}

.job-table .job-form tr {
    border: none;
}

.job-table .job-form tr td {
    /*border: 1px solid red;*/
    padding: 5px;
    background: none;
}

.job-context-table .job-table .job-form tr td:first-child {
    text-align: right;
    width: 1px;
    white-space: nowrap;
}

.job-context-table .job-table .job-form tr td:last-child {
    width: 20vw;
}

.job-context-table .job-table .job-form tr td input,
.job-context-table .job-table .job-form tr td .custom-select,
.job-context-table .job-table .job-form tr td select,
.job-context-table .job-table .job-form tr td textarea {
    width: 100%;
}

/**********************************************************************************************************************/
/* Create/Edit user */
/**********************************************************************************************************************/

#user-details-entry tr td {
    padding: 5px;
}

/**********************************************************************************************************************/
/* Create Handover */
/**********************************************************************************************************************/

#patient-details tr td {
    padding: 8px;
}

/**********************************************************************************************************************/
/* Tooltips */
/**********************************************************************************************************************/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/**********************************************************************************************************************/
/* Filter patients */
/**********************************************************************************************************************/

#view-patients-table tr td:first-child {
    width: 1px;
    white-space: nowrap;
}

#view-patients-table tr:nth-child(2) td:first-child {
    vertical-align: top;
}

#view-patients-table .input-layout tr td:first-child {
    vertical-align: center;
}

/**********************************************************************************************************************/
/* Page layout */
/**********************************************************************************************************************/

.page-table {
    width: 100%;
}

.page-table tr td {
    /*border: 1px solid red;*/
    padding: 10px;
}

.page-table tr td:first-child {
    width: 1px;
    white-space: nowrap;
}

.page-table tr:nth-child(odd) {
    background-color: #edf2f8;
}

.page-table tr:first-child {
    background-color: #30384d;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

.page-table .input-layout tr {
    background: none;
    color: black;
    font-size: 14px;
}

.page-table .input-layout tr td:first-child {
    text-align: right;
}

/**********************************************************************************************************************/
/* Jobs page */
/**********************************************************************************************************************/

#doctor-home tr td {
    /*border: 1px solid red;*/
}

#doctor-home tr:not(:first-child, :nth-child(2)) td {
    vertical-align: top;
}

#doctor-home tr:not(:first-child, :nth-child(2)) td:last-child {
    padding: 0;
}

#doctor-home tr td:nth-child(2) {
    /*width: 1px;*/
    /*white-space: nowrap;*/
}

#doctor-home .patient-info-text {
    color: black;
    font-size: 15px;
}

#doctor-home .patient-info-label {
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
}

#doctor-home .job-table {
    width: 100%;
}

#doctor-home .job-table tr {
    background: none;
    font-size: 14px;
}

#doctor-home .job-table tr:not(:last-child) {
    border-bottom: 1px solid #D1D8DC;
}


#doctor-home .job-table tr td,
#doctor-home .job-table tr:first-child td {
    padding: 5px;
    color: black;
    vertical-align: middle;
}

#doctor-home .job-table tr:not(:first-child) td:first-child,
#doctor-home .job-table tr:not(:first-child) td:nth-child(2) {
    /*border: 1px solid green;*/
    width: 1px;
    white-space: nowrap;
    text-align: center;
}

#doctor-home .job-table tr:not(:first-child) td:nth-child(3) {
    width: 10vw;
    min-width: 100px;
}

#doctor-home .job-table .job-form tr {
    border: none;
}

#doctor-home .job-table .job-form tr td:first-child {
    text-align: right;
}

#doctor-home .job-table .job-form tr td:nth-child(2) {
    width: 10vw;
    min-width: 100px;
}

#doctor-home .job-table .job-form tr td input,
#doctor-home .job-table .job-form tr td .custom-select,
#doctor-home .job-table .job-form tr td select,
#doctor-home .job-table .job-form tr td textarea {
    width: 100%;
}

#doctor-home .job-table tr.handover {
    border: none;
}

#doctor-home .job-table .handover-form td {
    padding: 0;
}

/**********************************************************************************************************************/
/* Admin page */
/**********************************************************************************************************************/

#admin tr td {
    vertical-align: top;
}

/**********************************************************************************************************************/
/* Risks */
/**********************************************************************************************************************/

#risks tr td:nth-child(2) {
    width: 1px;
    white-space: nowrap;
}