<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: head (title='Create User')">
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="main">
    <div class="main-box">
        <div class="main-box-header">
            <a th:href="@{/admin}" class="back-button"><i class="fa fa-arrow-circle-left"></i></a>
            Create User
        </div>
        <div class="main-box-content">
            <form action="#" th:action="${postUrl}" th:object="${usercore}" method="post">
                <input type="hidden" th:field="*{id}" th:value="*{id}" id="id"/>
                <table>
                    <tr>
                        <td>
                            <label for="Titles">Title</label>
                        </td>
                        <td>
                            <select class = "form-control" id = "Titles" name = "Titles" th:field = "*{title}">
                                <option th:each="state : ${T(com.quantech.model.user.Title).values()}" th:value="${state}" th:text="${state}"></option>
                            </select>
                        </td>
                        <!--<td> <span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span></td>-->
                    </tr>
                    <!--<tr class="form-group" th:if="${ShowRoles}">-->
                        <!--<td><th:block th:each="role : ${T(com.quantech.Configurations.SecurityRoles).values()}">-->
                        <!--<td>  <label th:text="${role}" ></label>-->
                            <!--<input type="checkbox"  id="${role}" name = "roles" th:field ="*{authorityStrings}" th:value="${role}"  /></td>-->
                        <!--</th:block></td>-->
                        <!--<td> <span class="error" th:if="${#fields.hasErrors('authorityStrings')}" th:errors="*{authorityStrings}"></span></td>-->
                    <!--</tr>-->
                    <tr>
                        <td>
                            <label for="firstName">First Name</label>
                        </td>
                        <td>
                            <input type="text" th:field="*{firstName}" id="firstName" placeholder="first name"/>
                        </td>
                        <!--<td><span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span></td>-->
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label for="lastName">Last Name</label>
                        </td>
                        <td>
                            <input type="text" th:field="*{lastName}" id="lastName" placeholder="last name"/>
                        </td>
                        <!--<td> <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span></td>-->
                    </tr>
                    <tr>
                        <td>
                            <label for="username">Username</label>
                        </td>
                        <td>
                            <input type="text" th:field="*{username}" id="username" placeholder="username"/>
                        </td>
                        <!--<td> <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span></td>-->
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Password</label>
                        </td>
                        <td>
                            <input type="password" th:field="*{password}" id="password" placeholder="password"/>
                        </td>
                        <!--<td> <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span></td>-->
                    </tr>
                    <!--<tr>-->
                        <!--<td>-->
                            <!--<label for="Roles">Roles</label>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<select class = "form-control" id = "Roles" name = "Roles" th:field = "*{title}">-->
                                <!--<option th:each="state : ${T(com.quantech.model.user.Title).values()}" th:value="${state}" th:text="${state}"></option>-->
                            <!--</select>-->
                        <!--</td>-->
                        <!--&lt;!&ndash;<td> <span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span></td>&ndash;&gt;-->
                    <!--</tr>-->


                    <!--<tr th:if="${ShowRoles}">-->
                    <tr>
                        <td>
                            <th:block th:each="role : ${T(com.quantech.config.SecurityRoles).values()}">
                                <div>
                                    <label th:text="${role}"></label>
                                    <!--<input type="checkbox"  id="${role}" name="roles" th:field="*{authorityStrings}" th:value="${role}"/>-->
                                    <input type="checkbox"  id="${role}" name="roles" th:field="*{authorityStrings}" th:value="${role}"/>
                                </div>
                            </th:block>
                        </td>
                        <!--<td> <span class="error" th:if="${#fields.hasErrors('authorityStrings')}" th:errors="*{authorityStrings}"></span></td>-->
                    </tr>


                    <tr>
                        <td>
                            <label for="email">Email</label>
                        </td>
                        <td>
                            <input type="email" th:field="*{email}" id="email" placeholder="email"/>
                        </td>
                        <!--<td> <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></td>-->
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

</div>

</body>
</html>