<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: head (title='Login | Quantech')">
</head>

<body>
    <div id="login-background">
        <nav id="header">
            <div class="header-container" id="logo-container">
                <a th:href="@{/login}"><img src="/images/quantech-clear.png" alt="Quantech" id="logo"/></a>
            </div>
            <div class="header-container" id="login-container">
                <form th:action="@{/login}" method="post">
                    <table id="login-form-table">
                        <tr>
                            <td><input type="text" name="username" placeholder="Username"
                                       th:classappend="${param.error} ? error-input"/></td>
                            <td><input type="password" name="password" placeholder="Password"
                                       th:classappend="${param.error} ? error-input"/></td>
                            <td><button class="custom-button orange-filled" type="submit">Login</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </nav>
        <div id="login-main">
            <div id="login-left">
                <div id="login-left-contents">
                    <h2>Electronic Handover</h2>
                    <img id="login-logo" src="/images/quantech-handshake.png" alt="Electronic handover logo."/>
                    <div id="login-slogans">
                        <h3><i class="fa fa-exchange" ></i><span>Handover jobs to peers quickly and seamlessly.</span></h3>
                        <h3><i class="fa fa-list-alt"></i><span>Manage to-dos both online and offline. </span></h3>
                        <h3><i class="fa fa-cogs"></i><span>Shape the system to fit your organisation. </span></h3>
                    </div>
                </div>
            </div>
            <div id="login-right"></div>
        </div>
    </div>
</body>
</html>