<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: head (title='Settings')">
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="main">
    <table id="patient-info">
        <tr>
            <td>Name</td>
            <td>Username</td>
            <td>Email</td>
            <td>New Password</td>
            <td>Confirm Password</td>
            <td>Current Password</td>
            <td></td>
        </tr>
        <!--Thymeleaf for each clause-->
        <tr>
            <td>
                <div class="patient-details">
                    <div class="patient-detail-row">
                        <span th:text="${#authentication.principal.getUserCore().getFullName()}" class="patient-detail"></span>
                    </div>
                </div>
            </td>
            <td>
                <div class="patient-details">
                    <div class="patient-detail-row">
                        <span th:text="${#authentication.principal.getUserCore().getUsername()}" class="patient-detail"></span>
                    </div>
                </div>
            </td>
            <td>
                <div class="patient-details">
                    <div class="patient-detail-row">
                        <span th:text="${#authentication.principal.getUserCore().getEmail()}" class="patient-detail"></span>
                    </div>
                </div>
            </td>
            <form action="#" th:action="@{/settings}" th:object="${change}" method="post" class="form-inline">
                <td>
                    <div class="patient-details">
                        <div class="patient-detail-row">
                            <input type="password" th:field="*{initial}" id="initialPassword" placeholder="New Password"/>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="patient-details">
                        <div class="patient-detail-row">
                            <input type="password" th:field="*{confirm}" id="confirmPassword" placeholder="Confirm Password"/>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="patient-details">
                        <div class="patient-detail-row">
                            <input type="password" th:field="*{current}" id="currentPassword" placeholder="Current Password"/>

                        </div>
                    </div>
                </td>
                <td>
                    <div class="patient-details">
                        <div class="patient-detail-row-button">
                            <button class="custom-button orange-filled" type="submit">Submit</button>

                        </div>
                    </div>
                </td>
                <span class="error" th:if="${#fields.hasErrors('current')}" th:errors="*{current}"></span>
            </form>
        </tr>
    </table>

</div>
</body>
</html>