<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: head (title='Settings')"></head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="wrapper">
    <table id="main-layout">
        <tr>
            <td></td>
            <td>Name</td>
            <td>Username</td>
            <td>Email</td>
            <td>Current Password</td>
            <td>New Password</td>
            <td>Confirm Password</td>
            <td></td>
        </tr>
        <form action="#" th:action="@{/settings}" th:object="${change}" method="post" class="form-inline">
        <tr>
                <td></td>
                <td><span th:text="${#authentication.principal.getUserCore().getFullName()}" class="patient-detail"></span></td>
                <td><span th:text="${#authentication.principal.getUserCore().getUsername()}" class="patient-detail"></span></td>
                <td><span th:text="${#authentication.principal.getUserCore().getEmail()}" class="patient-detail"></span></td>
                <td><input type="password" th:field="*{current}" id="currentPassword" placeholder="Current Password"/></td>
                <td><input type="password" th:field="*{initial}" id="initialPassword" placeholder="New Password"/></td>
                <td><input type="password" th:field="*{confirm}" id="confirmPassword" placeholder="Confirm Password"/></td>
                <td><button class="custom-button black-outlined" type="submit">Change Password</button></td>
            </tr>
            <tr>
                <td colspan="8"><span class="error" th:if="${#fields.hasErrors('current')}" th:errors="*{current}"></span></td>
            </tr>
        </form>
    </table>
</div>
</body>
</html>