<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head (title)">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title th:text="${title}">Page Title</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" media="screen" type="text/css"/>
    <!-- Had to take this out as it was causing a bug-->
    <!--th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"-->



    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          rel="stylesheet" media="screen" type="text/css"/>
    <!-- Had to take this out as it was causing a bug-->
    <!--th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"-->

    <link th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700" rel="stylesheet"/>

    <script src="https://use.fontawesome.com/7c5df3f467.js"></script>

    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script>
        $(document).ready(function() {
            $('a').each(function() {
                if ($(this).prop('href') == window.location.href) {
                    $(this).addClass('current-page');
                }
            });
        });
    </script>

</head>

<body>

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--&lt;!&ndash;<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>&ndash;&gt;-->

<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"-->
        <!--integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->


<nav th:fragment="header">
    <div id="header">
        <div class="header-container" id="menu-button-container">
            <!--<ul>-->
                <!--<li>-->
                    <!--<a><i class="fa fa-bars"></i></a>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
        <div class="header-container" id="logo-container">
            <a th:href="@{/}"><img src="/images/quantech-clear.png" alt="Quantech" id="logo"/></a>
            <!--img src="/images/quantech-clear.png" alt="Quantech" id="logo"/>-->
        </div>
        <div class="header-container" id="user-container">
            <ul>
                <li>
                    <span th:text="${#authentication.principal.getUserCore().getFullName()}" id="user-name"></span>
                    <a><i class="fa fa-user" id="user-icon"></i></a>
                </li>
                <li>
                    <a th:href="@{/settings}"><i class="fa fa-cog"></i></a>
                </li>
                <li>
                    <a th:href="@{/logout}"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <div class="header-container" id="menu-container">
            <ul>
                <li th:if="${#authentication.principal.getUserCore().isDoctor()}">
                    <button type="button"><a th:href="@{/}">Jobs</a></button>
                </li>
                <li th:if="${#authentication.principal.getUserCore().isDoctor()}">
                    <form action="#" th:action="@{/patients}" method="get">
                        <input type="hidden" name="firstName" value=""/>
                        <input type="hidden" name="lastName" value=""/>
                        <button type="submit"><a>Patients</a></button>
                    </form>
                </li>
                <li th:if="${#authentication.principal.getUserCore().isAdmin()}">
                    <button type="button"><a th:href="@{/admin}">Admin</a></button>
                </li>
            </ul>
        </div>
    </div>
    <div style="height: 50px; position: relative;">

    </div>
</nav>


</body>
</html>