<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Job Handover')">
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="main">
    <div class="main-box">
        <div class="main-box-header">
            Create Handover
            <!--<i class="fa fa-handshake-o"></i>-->
        </div>
        <div class="main-box-content">
            <table class="input-form">
                <!--<form action="#" th:action="@{/handover}" th:object="${handover}" method="post" class="form-inline">-->
                <form action="#" method="post">
                    <!--<input type="hidden" th:field="${handover.sender}" th:value="${currentDr.id}" id="originDoctor" name="originDoctor"/>-->
                    <tr class="form-group">
                        <td><label for="job">Step 1: Job</label></td>
                        <td>
                            <!--<select id="job" class="form-control" th:field="${handover.job}">-->
                            <select id="job" class="form-control">
                                <!--<option th:each="job: ${currentDr.jobs}" th:value="${job.id}"-->
                                <!--th:text="${job.jobContext.patient.getFullName()}+': '+${job.description}"></option>-->
                            </select>
                        </td>
                        <!--<td> <span class="error" th:if="${#fields.hasErrors('patient')}" th:errors="*{patient}"></span></td>-->
                    </tr>
                    <tr class="form-group">
                        <td><label for="recipientDoctor">Step 2: Receiving Doctor</label></td>
                        <td>
                            <!--<select id="recipientDoctor" class="form-control" th:field="${handover.recipient}">-->
                            <select id="recipientDoctor" class="form-control">
                                <!--<option th:each="doctor: ${doctors}" th:if="${currentDr.id} != ${doctor.id}" th:value="${doctor.id}"-->
                                <!--th:text="${doctor.firstName}+' '+${doctor.lastName}"></option>-->
                            </select>
                        </td>
                        <!--<td> <span class="error" th:if="${#fields.hasErrors('recipientDoctor')}" th:errors="*{recipientDoctor}"></span></td>-->
                    </tr>
                    <tr class="form-group">
                        <td><label for="jobNote">Step 3: Notes</label></td>
                        <td>
                            <!--<textarea th:field="*{note}" id="jobNote" placeholder="Enter Patient Notes" class="form-control" rows="10" cols="35">-->
                            <textarea id="jobNote" placeholder="Enter Patient Notes" class="form-control" rows="10" cols="35">
                            </textarea>
                        </td>
                    </tr>
                    <tr><td><button type="submit" class="btn btn-primary">Submit</button></td><td></td></tr>
                </form>
            </table>
        </div>
    </div>
</div>
</body>
</html>


