<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: head (title='Home')">
</head>

<body>
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div id="main">
        <table id="patient-info">
            <tr>
                <td>Patient Details</td>
                <td>Inpatient Details</td>
                <td>Clinical Status</td>
                <td>Clinical details</td>
                <td>Jobs</td>
            </tr>
            <div  th:each="patient,iterStat : ${patients}">
                <!--Thymeleaf for each clause-->
                <tr>
                    <td>
                        <div class="patient-details">
                            <div class="patient-detail-row">
                                <span class="patient-detail-title">Name</span>
                                <span class="patient-detail"><a th:href="@{/patient/hospitalNumber=} + '11111'"><span th:text="${patient.FullName}"/></a></span>
                            </div>
                            <div class="patient-detail-row">
                                <span class="patient-detail-title">DoB</span>
                                <span class="patient-detail"><span th:text="${patient.birthDate}"/></span>
                                <span class="patient-detail-title">Age</span>
                                <span class="patient-detail">29</span> <!-- function using age -->
                            </div>
                            <div class="patient-detail-row"> <!-- if not null -->
                                <span class="patient-detail-title">Hospital Number</span>
                                <span class="patient-detail"><span th:text="${patient.hospitalNumber}"/></span>
                            </div>
                            <div class="patient-detail-row"> <!-- if not null -->
                                <span class="patient-detail-title">NHS Number</span>
                                <span class="patient-detail"><span th:text="${patient.nHSNumber}"/></span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="patient-details">
                            <div class="patient-detail-row">
                                <span class="patient-detail-title">Ward</span>
                                <span class="patient-detail">Cotswold</span>
                            </div>
                            <div class="patient-detail-row">
                                <span class="patient-detail-title">Bed</span>
                                <span class="patient-detail">7</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="patient-details">
                            <div class="patient-detail-row">
                                <span class="patient-detail-title" style="color: #ED8B00;">Unwell</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="patient-details">
                            <div class="patient-detail-row">
                                <span class="patient-detail-title" style="color: #DA291C;">Sepsis</span>
                            </div>
                        </div>
                    </td>
                    <td>Details, category, date/deadline and completed or not</td>
                </tr>
                <!--Thymeleaf for each clause-->
                <tr>
                    <td><!--Patient Details--></td>
                    <td><!--Inpatient Details--></td>
                    <td><!--Clinical Status--></td>
                    <td><!--Clinical details--></td>
                    <td><!--Jobs--></td>
                </tr>
                <tr class="line">
                    <td colspan="5"></td>
                </tr>
            </div>
        </table>


    </div>

</body>
</html>