<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: head (title='Home')">
</head>

<body>
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div id="main">
        <a href="/?sort=firstName">Sort entries (by first name)</a>
        <a href="/?sort=lastName">Sort entries (by last name)</a>
        <a href="/?unwell=true">Filter entries (unwell)</a>
        <table id="patient-info">
            <tr>
                <td>Patient Details</td>
                <td>Inpatient Details</td>
                <td>Clinical Status and Details</td>
                <td>Jobs</td>
                <td></td>
            </tr>
            <div  th:each="jobContext,iterStat : ${jobContexts}">
                <!--Thymeleaf for each clause-->
                <tr>
                    <td>
                        <div class="patient-details">
                            <div class="patient-detail-row">
                                <span class="patient-detail-title">Name</span>
                                <span class="patient-detail"><a th:href="'/patient/id=' + ${jobContext.patient.id}"><span th:text="${jobContext.patient.FullName}"/></a></span>
                            </div>
                            <div class="patient-detail-row">
                                <span class="patient-detail-title">DoB</span>
                                <span class="patient-detail"><span th:text="${jobContext.patient.birthDate}"/></span>
                                <span class="patient-detail-title">Age</span>
                                <span class="patient-detail" th:text="${jobContext.patient.getAge()}"></span> <!-- function using age -->
                            </div>
                            <div class="patient-detail-row"> <!-- if not null -->
                                <span class="patient-detail-title">Hospital Number</span>
                                <span class="patient-detail"><span th:text="${jobContext.patient.hospitalNumber}"/></span>
                            </div>
                            <div class="patient-detail-row"> <!-- if not null -->
                                <span class="patient-detail-title">NHS Number</span>
                                <span class="patient-detail"><span th:text="${jobContext.patient.nHSNumber}"/></span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="patient-details">
                            <div class="patient-detail-row">
                                <span class="patient-detail-title">Ward</span>
                                <span class="patient-detail" th:text="${jobContext.getWard().getName()}"></span>
                            </div>
                            <div class="patient-detail-row">
                                <span class="patient-detail-title">Bed</span>
                                <span class="patient-detail" th:text="${jobContext.bed}">7</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="patient-details">
                            <div th:if="${jobContext.getUnwell()}" class="patient-detail-row">
                                <span class="patient-detail-title" style="color: #ED8B00;">Unwell</span>
                            </div>
                        </div>
                        <div class="patient-details" th:each="risk,iterStat : ${jobContext.getRisks()}">
                            <div class="patient-detail-row">
                                <span class="patient-detail-title" th:text="${risk.getName()}" style="color: #DA291C;"></span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="patient-details">
                            <div class="patient-detail-row" th:each="job,iterStat : ${jobContext.getJobs()}">
                                <span class="patient-detail-title" th:text="${job.getCategory().getName()} + ': '"></span>
                                <span class="patient-detail" th:text="${job.getDescription()}"></span>
                            </div>
                            <div class="patient-detail-row">
                                <a th:href="'/createJob?jobContextId='+${jobContext.id}">+ Add new job</a>
                            </div>
                        </div>
                    </td>
                    <td style="width: 13%;">
                        <div class="patient-details">
                            <div class="patient-detail-row" th:each="job,iterStat : ${jobContext.getJobs()}">
                                <form action="#" th:action="'/completeJob'" method="post" style="display: inline-block;">
                                    <input type="hidden" name="job" th:value="${job.id}"/>
                                    <button th:if="${!job.isComplete() and job.getDoctor().getId() == #authentication.getPrincipal().getId()}"
                                            type="submit"
                                            id="complete-job-button"
                                            style="margin-left: 4px;">Complete Job</button>
                                </form>
                                <span th:if="${!job.isComplete() and job.getDoctor().getId() != #authentication.getPrincipal().getId()}" id="pending-job-icon">Pending</span>
                                <span th:if="${job.isComplete()}" id="completed-job-icon">Completed</span>
                                <a th:if="${job.getDoctor().getId() == #authentication.getPrincipal().getId() and !job.isComplete()}"
                                   th:href="'/handoverJob?jobId=' + ${job.getId()}" id="handover-job-button">Handover</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <!--Thymeleaf for each clause-->
                <tr>
                    <td><!--Patient Details--></td>
                    <td><!--Inpatient Details--></td>
                    <td><!--Clinical Status and Details--></td>
                    <td><!--Jobs--></td>
                    <td><!--Job Icons and Buttons--></td>
                </tr>
                <tr class="line">
                    <td colspan="5"></td>
                </tr>
            </div>
        </table>
        <form th:action="@{/pdf}" method="post" name="jobContexts" th:object="${jobContexts}">
            <input class="btn" style="width: 10vw;" type="submit" value="View all as PDF"/>
        </form>

    </div>

</body>
</html>