<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: head (title='Login | Quantech')">
</head>

<body>
    <div id="login-background">
        <nav id="header">
            <div class="header-container" id="logo-container">
                <a th:href="@{/login}"><img src="/images/quantech-clear.png" alt="Quantech" id="logo"/></a>
            </div>
            <div class="header-container" id="login-container">
                <form th:action="@{/login}" method="post">
                    <table id="login-form-table">
                        <tr>
                            <td><input type="text" name="username" placeholder="Username"/></td>
                            <td><input type="password" name="password" placeholder="Password"/></td>
                            <td><button class="custom-button orange-filled" type="submit">Login</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </nav>
        <div id="login-main">
            <table id="electronic-handover"><tr><td>electronic<br/>handover</td></tr></table>
            <!--<span th:if="${param.error}">Username or Password is wrong. Please check again</span>-->
            <!--<span th:if="${param.logout}">Logged out</span>-->
        </div>
    </div>
</body>
</html>