<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        p { margin: 0; }
        th, td {
            border-bottom: 1px solid #ddd;
            vertical-align: top;
        }
        @page { size: A4 landscape;}
        body { font-family: 'Roboto', sans-serif; }
        tr { page-break-inside: avoid !important }
    </style>
</head>
<body>
    <table>
        <colgroup>
            <col span="1" style="width: 40%;" />
            <col span="1" style="width: 20%;" />
            <col span="1" style="width: 30%;" />
        </colgroup>

        <thead>
            <tr>
                <th>Patient Details</th>
                <th>Status</th>
                <th>Jobs</th>
                <th>Done</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="jc : ${JobContexts}">
                <td>
                    <p><span th:text="${jc.patient.getFullName()}"/></p>
                    <p>
                        D.O.B: <span th:text="${jc.patient.birthDate}" />
                        Age: <span th:text="${jc.patient.getAge()}" />
                    </p>
                    <p>Hosp. #: <span th:text="${jc.patient.hospitalNumber}"/></p>
                    <p>Ward: <span th:text="${jc.ward.name}"/></p>
                    <p>Bed: <span th:text="${jc.bed}"/></p>
                </td>
                <td>
                    <p><span th:text="${jc.getUnwell()}"/></p>
                    <div th:each="risk : ${jc.risks}">
                        <p>
                            <span th:text="${risk.name}" style="color: #DA291C;" />
                        </p>
                    </div>
                </td>
                <td>
                    <div th:each="job : ${jc.jobs}">
                        <span th:text="${job.getCategory().getName()} + ': '" />
                        <span th:text="${job.getDescription()}" />
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>