<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Job Handover')">
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="main">
    <div class="main-box">
        <div class="main-box-header">
            Create Handover
            <!--<i class="fa fa-handshake-o"></i>-->
        </div>
        <div class="main-box-content">
            <form action="#" method="post">
                <div> <!-- Add or choose patient -->
                    Create new patient or choose existing patient
                </div>
                <div> <!-- Add or choose/edit job context -->
                    Clinical information
                </div>
                <div> <!-- Add job -->
                    Job details<br/>
                    Job notes<br/>
                    Choose receiving doctor
                    <!--<select id="recipientDoctor" class="form-control" th:field="${handover.recipient}">-->
                    <select id="recipientDoctor" class="form-control">
                        <!--<option th:each="doctor: ${doctors}" th:if="${currentDr.id} != ${doctor.id}" th:value="${doctor.id}"-->
                        <!--th:text="${doctor.firstName}+' '+${doctor.lastName}"></option>-->
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>


