<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Handover Job')">
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="main">
    <form action="#" th:action="'/handoverJob?jobId=' + ${jobId}" method="post">
        <div class="main-box" id="job">
            <div class="main-box-header">
                Handover Job
            </div>
            <div class="main-box-content">
                <input type="text" name="jobDescription" th:value="${description}" id="jobDescription" placeholder="details"/>
                <select name="doctor">
                    <option value="" hidden="true">Select doctor</option>
                    <option th:each="user : ${doctorUsers}" th:if="${#authentication.getPrincipal().getId()} != ${user.id}" th:value="${user.id}" th:text="${user.title}+' '+${user.firstName}+' '+${user.lastName}"></option>
                </select>

            </div>
        </div>
        <button type="submit" id="submit-button" class="orange-button">Send</button>
    </form>
</div>
</body>
</html>