<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='New Job')">
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="main">
    <form action="#" th:action="@{/createJob}" method="post" th:object="${job}">
        <div class="main-box" id="job">
            <div class="main-box-header">
                Job Details
            </div>
            <div class="main-box-content">
                <input type="hidden" th:value="${contextId}" id="contextId" name="contextId" placeholder="details"/>
                <input type="hidden" th:value="${doctorId}" id="doctorId" name="doctorId" placeholder="details"/>
                <input type="text" th:field="*{description}" id="jobDescription" name="jobDescription" placeholder="details"/>
                <select th:field="*{categoryId}">
                    <option value="" hidden="true">Select category</option>
                    <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                </select>
                <span class="error" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"/>

            </div>
        </div>
        <button type="submit" id="submit-button" class="orange-button">Send</button>
    </form>
</div>
</body>
</html>