<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Job Handover')">

    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>

<body style="background-color: #f9fafc">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script>
    function resetJobContextForm() {
        document.getElementById("newWard").selectedIndex = 0;
        document.getElementById("newBed").value = "";
        document.getElementById("newUnwell").checked = false;
        document.getElementById("newClinicalDetails").value = "";
    }
    function resetJobForms(jobContexts) {
        /*<![CDATA[*/
        for (let id = 1; id < jobContexts+1; id++) {
            document.getElementById("newCategory"+id).selectedIndex = 0;
            document.getElementById("newDescription"+id).value = "";
            document.getElementById("newDoctor"+id).selectedIndex = 0;
        }
        /*]]>*/
    }
    function resetHandoverForms() {
        $("select").each(function() { this.selectedIndex = 0 });
    }
</script>

<div th:replace="fragments/header :: header">&nbsp;</div>

<div id="patient-info-wrapper">
    <div th:text="${patientInfo.FullName}" class="patient-info-text" style="font-size: 18px;"/>
    <div>
        <span class="patient-info-label">Date of Birth</span>
        <span class="patient-info-text" th:text="${patientInfo.birthDate}"/>
    </div>
    <div>
        <span class="patient-info-label">Age</span>
        <span class="patient-info-text" th:text="${patientInfo.getAge()}"/>
    </div>
    <div th:if="${patientInfo.hospitalNumber}">
        <span class="patient-info-label">Hospital Number</span>
        <span class="patient-info-text" th:text="${patientInfo.hospitalNumber}"/>
    </div>
    <div th:if="${patientInfo.nHSNumber}">
        <span class="patient-info-label">NHS Number</span>
        <span class="patient-info-text" th:text="${patientInfo.nHSNumber}"/>
    </div>
</div>

<div id="accordion">
<table class="job-context-table">
    <tr>
        <td colspan="3">
            <div>
                <button class="custom-button black-outlined collapsed" data-toggle="collapse" data-target=".newJobContextForm"
                        th:onclick="'resetJobContextForm(); resetJobForms('+${jobContextsCount}+'); resetHandoverForms();'">
                    <span class="if-collapsed"><i class="fa fa-plus"></i></span>
                    <span class="if-not-collapsed"><i class="fa fa-times"></i></span>
                </button>
                <form action="#" th:action="@{/patient/{id}(id=${patientId})}" method="post" th:object="${newJobContext}">
                    <input type="hidden" name="returnTo" value="patient"/>
                    <div class="collapse newJobContextForm" data-parent="#accordion">
                        <table id="job-context-form">
                            <tr>
                                <td>
                                    Ward
                                </td>
                                <td>
                                    <div class="custom-select">
                                        <select th:field="*{ward}" id="newWard">
                                            <option value="" hidden="true">Ward</option>
                                            <option th:each="ward : ${wards}" th:value="${ward.id}" th:text="${ward.name}"></option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-bed"></i>
                                </td>
                                <td>
                                    <input type="number" th:field="*{bed}" id="newBed" name="newBed" placeholder="Bed"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Unwell
                                </td>
                                <td>
                                    <input type="checkbox"  th:field="*{unwell}" id="newUnwell" name="newUnwell" value="TRUE"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Clinical details
                                </td>
                                <td>
                                    <textarea rows="4" th:field="*{clinicalDetails}" id="newClinicalDetails" name="newClinicalDetails" placeholder="Clinical details"/>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button type="submit" class="custom-button black-outlined"><i class="fa fa-check"></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>

        </td>
    </tr>
    <tr th:each="jobContext,iterStat1 : ${jobContexts}">
        <td>
            <div>
                <div>
                    <span th:text="${jobContext.getWard().getName()}"/>
                </div>
                <div>
                    <i class="fa fa-bed"></i> <span th:text="${jobContext.bed}"/>
                </div>
                <div th:if="${jobContext.getUnwell()}">
                    <i class="fa fa-exclamation-circle"></i> Unwell
                </div>
                <!--<span th:each="risk,iterStat : ${jobContext.getRisks()}" th:text="${risk.getName()}"/>-->
            </div>
        </td>
        <td>
            <span th:text="${jobContext.clinicalDetails}"/>
        </td>
        <td>
            <table class="job-table">
                <tr>
                    <td colspan="4">
                        <button class="custom-button black-outlined collapsed" data-toggle="collapse" th:attr="data-target='.newJobForm'+${iterStat1.count}" th:onclick="'resetJobContextForm(); resetJobForms('+${jobContextsCount}+'); resetHandoverForms();'">
                            <span class="if-collapsed"><i class="fa fa-plus"></i></span>
                            <span class="if-not-collapsed"><i class="fa fa-times"></i></span>
                        </button>
                        <form action="#" th:action="@{/createJob}" method="post" th:object="${newJob}">
                            <input type="hidden" th:value="${jobContext.id}" id="contextId" name="contextId"/>
                            <input type="hidden" name="returnTo" value="patient"/>
                            <div th:class="'collapse '+'newJobForm'+${iterStat1.count}" data-parent="#accordion">
                                <table class="job-form">
                                    <tr>
                                        <td>
                                            Category
                                        </td>
                                        <td>
                                            <div class="custom-select">
                                                <select th:field="*{categoryId}" th:id="'newCategory'+${iterStat1.count}">
                                                    <option value="" hidden="true">Category</option>
                                                    <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Description
                                        </td>
                                        <td>
                                            <textarea rows="3" th:field="*{description}" th:id="'newDescription'+${iterStat1.count}" name="jobDescription" placeholder="Job description" style="width: 100%;"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Doctor
                                        </td>
                                        <td>
                                            <div class="custom-select">
                                                <select th:field="*{doctorId}" th:id="'newDoctor'+${iterStat1.count}">
                                                    <option value="" hidden="true">Doctor</option>
                                                    <option th:each="user : ${doctorUsers}" th:value="${user.id}" th:text="${user.title}+' '+${user.firstName}+' '+${user.lastName}"></option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button type="submit" class="custom-button black-outlined"><i class="fa fa-check"></i></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </td>
                </tr>
                <th:block th:each="job,iterStat : ${jobContext.getJobs()}">
                    <tr th:classappend="${job.getDoctor().getId() == #authentication.getPrincipal().getUserCore().getId() and !job.isComplete()} ? handover">
                        <td>
                            <form action="#" th:action="'/completeJob'" method="post">
                                <input type="hidden" name="job" th:value="${job.id}"/>
                                <input type="hidden" name="returnTo" value="patient"/>
                                <button th:if="${!job.isComplete() and job.getDoctor().getId() == #authentication.getPrincipal().getUserCore().getId()}"
                                        type="submit"
                                        class="custom-button green-outlined">
                                    <i class="fa fa-check"></i>
                                </button>
                            </form>
                            <span th:if="${job.isComplete()}" class="completed-job"><i class="fa fa-check"></i></span>
                        </td>
                        <td>
                            <button th:if="${job.getDoctor().getId() == #authentication.getPrincipal().getUserCore().getId() and !job.isComplete()}"
                                    class="custom-button orange-outlined collapsed" data-toggle="collapse" th:attr="data-target='.context'+${iterStat1.count}+'job'+${iterStat.count}"
                                    th:onclick="'resetJobContextForm(); resetJobForms('+${jobContextsCount}+'); resetHandoverForms();'">
                                <span class="if-collapsed"><i class="fa fa-arrow-right"></i></span>
                                <span class="if-not-collapsed"><i class="fa fa-times"></i></span>
                            </button>
                            <span th:if="${!job.isComplete() and job.getDoctor().getId() != #authentication.getPrincipal().getUserCore().getId()}" class="pending-job"><i class="fa fa-arrow-right"></i></span>
                        </td>
                        <!--<td>-->
                            <!--<button type="button" class="custom-button blue-outlined"><i class="fa fa-pencil"></i> Edit</button>-->
                        <!--</td>-->
                        <td>
                            <span th:text="${job.getCategory().getName()}"/>
                        </td>
                        <td>
                            <span th:text="${job.getDescription()}"/>
                        </td>
                    </tr>
                    <tr th:if="${job.getDoctor().getId() == #authentication.getPrincipal().getUserCore().getId() and !job.isComplete()}" class="handover-form">
                        <td></td>
                        <td colspan="3" style="text-align: left;">
                            <div th:class="'collapse '+'context'+${iterStat1.count}+'job'+${iterStat.count}" data-parent="#accordion" >
                                <form action="#" th:action="'/handoverJob?jobId=' + ${job.id}" method="post">
                                    <input type="hidden" name="jobDescription" th:value="${job.description}"/>
                                    <input type="hidden" name="returnTo" value="patient"/>
                                    <table class="job-form">
                                        <tr>
                                            <td>
                                                Doctor
                                            </td>
                                            <td>
                                                <div class="custom-select">
                                                    <select name="doctor">
                                                        <option value="" hidden="true">Select doctor</option>
                                                        <option th:each="user : ${doctorUsers}" th:value="${user.id}" th:text="${user.title}+' '+${user.firstName}+' '+${user.lastName}"></option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <button type="submit" class="custom-button black-outlined"><i class="fa fa-check"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </td>
                    </tr>
                </th:block>
            </table>
        </td>
    </tr>
</table>
</div>
</body>
</html>