<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Job Handover')">
</head>

<body>
<script>
    function updateSelectColor(element) {
        if (element.selectedIndex == '0') {
            element.style.color = '#D1D8DC';
        } else {
            element.style.color = '#000000';
        }
    }
</script>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="main">
    <div class="main-box">
        <div class="main-box-header">
            Patient
        </div>
        <table id="patient-info">
            <tr>
                <td>Name</td>
                <td>Date of birth</td>
                <td>Age</td>
                <td>Hospital number</td>
                <td>NHS number</td>
                <td></td>
            </tr>
            <tr>
                <td><span class="patient-detail" th:text="${patient.FullName}"/></td>
                <td><span th:text="${patient.birthDate}"/></td>
                <td><span th:text="${patient.getAge()}"/></td>
                <td><span th:text="${patient.hospitalNumber}"/></td>
                <td><span th:text="${patient.nHSNumber}"/></td>
                <td><button type="button" class="custom-button orange-filled">Edit</button></td>
            </tr>
        </table>
    </div>
    <div class="main-box">
        <div class="main-box-header">
            Clinical Information
        </div>
        <table id="patient-info">
            <tr>
                <td>Details</td>
                <td><!--Unwell?--></td>
                <td>Ward</td>
                <td>Bed number</td>
                <td></td>
            </tr>
            <tr>
                <td><span th:text="${jobContext.clinicalDetails}"/></td>
                <td><span th:if="${jobContext.getUnwell()}">Unwell</span></td>
                <td><span th:text="${jobContext.ward.name}"/></td>
                <td><span th:text="${jobContext.bed}"/></td>
                <td><button type="button" class="custom-button orange-filled">Edit</button></td>
            </tr>
        </table>
    </div>
    <div class="main-box" id="job">
        <div class="main-box-header">
            Job Details
        </div>
        <div class="main-box-content">
            <form action="#" th:action="@{/patient/createHandover}" method="post">
                <input type="hidden" th:field="*{job.contextId}" id="contextId" name="contextId"/>

                <table class="input-layout">
                    <tr>
                        <td>Job description</td>
                        <td><input type="text" th:field="*{job.description}" id="jobDescription" name="jobDescription" placeholder="Details"/></td>
                        <td><!--Error message--></td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>
                            <div class="custom-select">
                                <select th:field="*{job.categoryId}" style="color: #D1D8DC;" onchange="updateSelectColor(this);">
                                    <option value="" hidden="true">Select category</option>
                                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                </select>
                            </div>
                        </td>
                        <td><!--Error message--></td>
                    </tr>
                    <tr>
                        <td>Receiving doctor</td>
                        <td>
                            <div class="custom-select">
                                <select th:field="*{job.doctorId}" style="color: #D1D8DC;" onchange="updateSelectColor(this);">
                                    <option value="" hidden="true">Receiving doctor</option>
                                    <option th:each="user : ${doctorUsers}" th:if="${currentDoctorId} != ${user.id}" th:value="${user.id}" th:text="${user.title}+' '+${user.firstName}+' '+${user.lastName}"></option>
                                </select>
                            </div>
                        </td>
                        <td><!--Error message--></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="custom-button orange-filled" type="submit">Submit</button></td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>