<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Job Handover')">
</head>

<body>
<script>
    function updateSelectColor(element) {
        if (element.selectedIndex == '0') {
            element.style.color = '#D1D8DC';
        } else {
            element.style.color = '#000000';
        }
    }
</script>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="main">
    <div class="main-box">
        <div class="main-box-header">
            Patient
        </div>
        <div class="main-box-content">
            <div class="patient-details">
                <div class="patient-detail-row">
                    <span class="patient-detail-title">Name</span>
                    <span class="patient-detail"><span th:text="${patient.FullName}"/></span>
                </div>
                <div class="patient-detail-row">
                    <span class="patient-detail-title">DoB</span>
                    <span class="patient-detail"><span th:text="${patient.birthDate}"/></span>
                    <span class="patient-detail-title">Age</span>
                    <span class="patient-detail" th:text="${patient.getAge()}"></span>
                </div>
                <div class="patient-detail-row"> <!-- if not null -->
                    <span class="patient-detail-title">Hospital Number</span>
                    <span class="patient-detail"><span th:text="${patient.hospitalNumber}"/></span>
                </div>
                <div class="patient-detail-row"> <!-- if not null -->
                    <span class="patient-detail-title">NHS Number</span>
                    <span class="patient-detail"><span th:text="${patient.nHSNumber}"/></span>
                </div>
            </div>
            <button type="button" class="custom-button orange-filled">Edit</button>
        </div>
    </div>
    <div class="main-box" id="jobContext">
        <div class="main-box-header">
            Clinical Information
        </div>
        <div class="main-box-content">
            <!--<button type="button" class="custom-button orange-filled">Add new diagnosis</button>-->
            <div>
                <form action="#" th:action="@{/createHandover/newJobContext}" method="post">
                    <input type="hidden" th:field="${newJobContext.patient}" th:value="${patient}" id="originDoctor" name="originDoctor"/>
                    <table id="patient-details" style="width: 150px">
                        <tr>
                            <td>
                                <input type="text" th:field="*{newJobContext.clinicalDetails}" id="newClinicalDetails" name="newClinicalDetails" placeholder="Clinical details"/>
                                <input type="text" placeholder="Unwell" style="width: 60px;" disabled="true"/>
                                <input type="checkbox"  th:field="*{newJobContext.unwell}" id="newUnwell" name="newUnwell" value="TRUE"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" th:field="*{newJobContext.bed}" id="newBed" name="newBed" placeholder="Bed number"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-select">
                                    <select th:field="*{newJobContext.ward}" style="color: #D1D8DC;" onchange="updateSelectColor(this);">
                                        <option value="" hidden="true">Ward</option>
                                        <option th:each="ward : ${wards}" th:value="${ward.id}" th:text="${ward.name}"></option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <button type="submit" class="custom-button orange-filled">Next</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            <!--Existing job contexts-->
            <div  th:each="jobContext,iterStat : ${jobContexts}">
                <!---->
            </div>
        </div>
    </div>
</div>
</body>
</html>