<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments/header :: head (title='Select Patient')">
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="main">
    <div class="main-box">
        <div class="main-box-header">
            Select Patient
        </div>
        <table id="patient-info">
            <tr>
                <td>Name</td>
                <td>Date of Birth</td>
                <td>Hospital Number</td>
                <td>NHS Number</td>
                <td></td>
            </tr>
            <tr th:each="patient : ${patients}">
                <td>
                    <span th:text="${patient.FullName}"></span>
                </td>
                <td>
                    <span th:text="${patient.birthDate}"></span>
                </td>
                <td>
                    <span th:text="${patient.hospitalNumber}"></span>
                </td>
                <td>
                    <span th:text="${patient.nHSNumber}"></span>
                </td>
                <td>
                    <form action="#" th:action="@{/selectPatient/{id}(id=${patient.id})}" method="get">
                        <button type="submit" class="custom-button orange-filled">Select</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>