<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Job Handover')">
</head>

<body>
<script>
    function updateSelectColor(element) {
        if (element.selectedIndex == '0') {
            element.style.color = '#D1D8DC';
        } else {
            element.style.color = '#000000';
        }
    }
    function showNewJobContext() {
        document.getElementById("existingJobContexts").style.display = 'none';
        document.getElementById("newJobContext").style.display = 'block';
    }
    function showExistingJobContexts() {
        document.getElementById("newJobContext").style.display = 'none';
        document.getElementById("existingJobContexts").style.display = 'block';
    }
</script>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="main">
    <div class="main-box">
        <div class="main-box-header">
            Patient
        </div>
        <div class="main-box-content">
            <div class="patient-details">
                <div class="patient-detail-row">
                    <span class="patient-detail-title">Name</span>
                    <span class="patient-detail"><span th:text="${patientInfo.FullName}"/></span>
                </div>
                <div class="patient-detail-row">
                    <span class="patient-detail-title">DoB</span>
                    <span class="patient-detail"><span th:text="${patientInfo.birthDate}"/></span>
                    <span class="patient-detail-title">Age</span>
                    <span class="patient-detail" th:text="${patientInfo.getAge()}"></span>
                </div>
                <div class="patient-detail-row"> <!-- if not null -->
                    <span class="patient-detail-title">Hospital Number</span>
                    <span class="patient-detail"><span th:text="${patientInfo.hospitalNumber}"/></span>
                </div>
                <div class="patient-detail-row"> <!-- if not null -->
                    <span class="patient-detail-title">NHS Number</span>
                    <span class="patient-detail"><span th:text="${patientInfo.nHSNumber}"/></span>
                </div>
            </div>
            <button type="button" class="custom-button orange-filled">Edit</button>
        </div>
    </div>
    <div class="main-box" id="existingJobContexts">
        <div class="main-box-header">
            Previous Clinical Information
        </div>
        <button type="button" class="custom-button orange-filled" onclick="showNewJobContext();">Add new clinical information</button>
        <table id="patient-info">
            <tr>
                <td>Clinical Details</td>
                <td>Start Date</td>
                <td>Ward</td>
                <td>Bed</td>
                <td></td>
            </tr>
            <tr th:each="jobContext : ${jobContexts}">
                <td>
                    <span th:if="${jobContext.unwell}">UNWELL</span><br/>
                    <span th:text="${jobContext.clinicalDetails}"></span>
                </td>
                <td><span th:text="${jobContext.creationDate}"></span></td>
                <td><span th:text="${jobContext.ward.name}"></span></td>
                <td><span th:text="${jobContext.bed}"></span></td>
                <td>
                    <form action="#" th:action="@{/selectJobContext/{id}(id=${jobContext.id})}" method="get">
                        <button type="submit" class="custom-button orange-filled">Select</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div class="main-box" id="newJobContext" style="display: none;">
        <div class="main-box-header">
            New Clinical Information
        </div>
        <div class="main-box-content">
            <button type="button" class="custom-button orange-filled" onclick="showExistingJobContexts();">See existing clinical information</button>
            <form action="#" th:action="@{/patient/createHandover/clinicalDetails}" method="post">
                <input type="hidden" th:field="*{newJobContext.patientId}" id="patientId" name="patientId"/>
                <table id="patient-details" style="width: 150px">
                    <tr>
                        <td>
                            <input type="text" th:field="*{newJobContext.clinicalDetails}" id="newClinicalDetails" name="newClinicalDetails" placeholder="Clinical details"/>
                            <input type="text" placeholder="Unwell" style="width: 60px;" disabled="true"/>
                            <input type="checkbox"  th:field="*{newJobContext.unwell}" id="newUnwell" name="newUnwell" value="TRUE"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number" th:field="*{newJobContext.bed}" id="newBed" name="newBed" placeholder="Bed number"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-select">
                                <select th:field="*{newJobContext.ward}" style="color: #D1D8DC;" onchange="updateSelectColor(this);">
                                    <option value="" hidden="true">Ward</option>
                                    <option th:each="ward : ${wards}" th:value="${ward.id}" th:text="${ward.name}"></option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <button type="submit" class="custom-button orange-filled">Next</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>