<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Job Handover')">
</head>

<body>

<script>
    function updateSelectColor(element) {
        if (element.selectedIndex == '0') {
            element.style.color = '#D1D8DC';
        } else {
            element.style.color = '#000000';
        }
    }
    function showNewJobContext() {
        document.getElementById("existingJobContexts").style.display = 'none';
        document.getElementById("newJobContext").style.display = 'block';
    }
    function showExistingJobContexts() {
        document.getElementById("newJobContext").style.display = 'none';
        document.getElementById("existingJobContexts").style.display = 'block';
    }
</script>

<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="main">
    <div class="main-box">
        <div class="main-box-header">
            Patient
        </div>
        <table id="patient-info">
            <tr>
                <td>Name</td>
                <td>Date of birth</td>
                <td>Age</td>
                <td>Hospital number</td>
                <td>NHS number</td>
                <td></td>
            </tr>
            <tr>
                <td><span class="patient-detail" th:text="${patientInfo.FullName}"/></td>
                <td><span th:text="${patientInfo.birthDate}"/></td>
                <td><span th:text="${patientInfo.getAge()}"/></td>
                <td><span th:text="${patientInfo.hospitalNumber}"/></td>
                <td><span th:text="${patientInfo.nHSNumber}"/></td>
                <td><button type="button" class="custom-button orange-filled">Edit</button></td>
            </tr>
        </table>
    </div>

    <div id="existingJobContexts">
        <table class="job-context-table">
            <tr>
                <td>Info</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="custom-button orange-filled" onclick="showNewJobContext();">Add new clinical information</button>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr th:each="jobContext,iterStat : ${jobContexts}">
                <td>
                    <span th:text="${jobContext.getWard().getName()}"/><br/>
                    Bed <span th:text="${jobContext.bed}"/><br/>
                </td>
                <td>
                    <span th:if="${jobContext.getUnwell()}">
                        Unwell<br/>
                    </span>
                    <span th:each="risk,iterStat : ${jobContext.getRisks()}" th:text="${risk.getName()}"/>
                </td>
                <td>
                    <span th:text="${jobContext.clinicalDetails}"/>
                </td>
                <td>
                    <table class="job-table">
                        <tr th:each="job,iterStat : ${jobContext.getJobs()}">
                            <td>
                                <span th:text="${job.getCategory().getName()}"/>
                            </td>
                            <td>
                                <span th:text="${job.getDescription()}"/>
                            </td>
                            <td></td>
                            <td>
                                <form action="#" th:action="'/completeJob'" method="post" style="display: inline-block;">
                                    <input type="hidden" name="job" th:value="${job.id}"/>
                                    <button th:if="${!job.isComplete() and job.getDoctor().getId() == #authentication.getPrincipal().getUserCore().getId()}"
                                            type="submit"
                                            class="custom-button green-outlined">
                                        <!--Text button-->
                                        <span class="job-text-button">Complete</span>
                                        <!--Icon button-->
                                        <span class="job-icon-button"><i class="fa fa-check"></i></span>
                                    </button>
                                </form>
                                <span th:if="${job.isComplete()}" class="completed-job job-text-button">Completed</span>
                                <span th:if="${job.isComplete()}" class="completed-job job-icon-button"><i class="fa fa-check"></i></span>
                            </td>
                            <td>
                                <a th:if="${job.getDoctor().getId() == #authentication.getPrincipal().getUserCore().getId() and !job.isComplete()}"
                                   th:href="'/handoverJob?jobId=' + ${job.getId()}"><button type="button" class="custom-button orange-outlined">
                                    <!--Text button-->
                                    <span class="job-text-button">Handover</span>
                                    <!--Icon button-->
                                    <span class="job-icon-button"><i class="fa fa-arrow-right"></i></span>
                                </button></a>
                                <span th:if="${!job.isComplete() and job.getDoctor().getId() != #authentication.getPrincipal().getUserCore().getId()}" class="pending-job job-text-button">Pending</span>
                                <span th:if="${!job.isComplete() and job.getDoctor().getId() != #authentication.getPrincipal().getUserCore().getId()}" class="pending-job job-icon-button"><i class="fa fa-arrow-right"></i></span>
                            </td>
                            <!--<td>-->
                                <!--<button type="button" class="custom-button blue-outlined">-->
                                <!--&lt;!&ndash;Text button&ndash;&gt;-->
                                <!--<span class="job-text-button">Edit</span>-->
                                <!--&lt;!&ndash;Icon button&ndash;&gt;-->
                                <!--<span class="job-icon-button"><i class="fa fa-pencil"></i></span>-->
                                <!--</button>-->
                            <!--</td>-->
                        </tr>
                        <tr>
                            <td>
                                <!--<a th:href="'/patient/createHandover?patient='+${jobContext.patient}+'&jobContext='+${jobContext}">Hello</a>-->
                                <a th:href="'/createJob?jobContextId='+${jobContext.id}">
                                    <button type="button" class="custom-button blue-outlined">
                                        <!--Text button-->
                                        <span class="job-text-button">Add job</span>
                                        <!--Icon button-->
                                        <span class="job-icon-button"><i class="fa fa-plus"></i></span>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div class="main-box" id="newJobContext" style="display: none;">
        <div class="main-box-header">
            New Clinical Information
        </div>
        <div class="main-box-content">
            <button type="button" class="custom-button orange-filled" onclick="showExistingJobContexts();">See existing clinical information</button>
            <form action="#" th:action="@{/patient/{id}(id=${patientId})}" method="post" th:object="${newJobContext}">
                <input type="hidden" th:field="*{patientId}" id="patientId" name="patientId"/>
                <table id="patient-details" style="width: 150px">
                    <tr>
                        <td>
                            <input type="text" th:field="*{clinicalDetails}" id="newClinicalDetails" name="newClinicalDetails" placeholder="Clinical details"/>
                            <input type="text" placeholder="Unwell" style="width: 60px;" disabled="true"/>
                            <input type="checkbox"  th:field="*{unwell}" id="newUnwell" name="newUnwell" value="TRUE"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number" th:field="*{bed}" id="newBed" name="newBed" placeholder="Bed number"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-select">
                                <select th:field="*{ward}" style="color: #D1D8DC;" onchange="updateSelectColor(this);">
                                    <option value="" hidden="true">Ward</option>
                                    <option th:each="ward : ${wards}" th:value="${ward.id}" th:text="${ward.name}"></option>
                                </select>
                                <span class="error" th:if="${#fields.hasErrors('ward')}" th:errors="*{ward}"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <button type="submit" class="custom-button orange-filled">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

</div>
</body>
</html>