<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Job Handover')">
</head>

<body>
<script>
    function updateSelectColor(element) {
        if (element.selectedIndex == '0') {
            element.style.color = '#D1D8DC';
        } else {
            element.style.color = '#000000';
        }
    }
</script>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="main">
    <form action="#" th:action="@{/newPatient}" method="post">
        <div class="main-box">
            <div class="main-box-header">
                Add new Patient <a th:href="@{/searchPatients}"><button type="button" class="custom-button blue-outlined">Search for existing patients</button></a>
            </div>
            <div class="main-box-content">
                <form action="#" th:action="@{/newPatient}" method="post" th:object="${patient}">
                    <table class="input-layout">
                        <tr>
                            <td>Title</td>
                            <td>
                                <div class="custom-select">
                                    <select id="existingTitle" name="existingTitle" th:field = "*{title}" style="color: #D1D8DC;" onchange="updateSelectColor(this);">
                                        <option value="" hidden="true">Title</option>
                                        <option th:each="t : ${T(com.quantech.model.user.Title).values()}" th:value="${t}" th:text="${t}"></option>
                                    </select>
                                </div>
                            </td>
                            <td><span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/></td>
                        </tr>
                        <tr>
                            <td>First name</td>
                            <td><input type="text" th:field="*{firstName}" id="existingFirstName" name="existingFirstName" placeholder="First Name"/></td>
                            <td><span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/></td>
                        </tr>
                        <tr>
                            <td>Last name</td>
                            <td><input type="text" th:field="*{lastName}" id="existingLastName" name="existingLastName" placeholder="Last Name"/></td>
                            <td><span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/></td>
                        </tr>
                        <tr>
                            <td>Date of birth</td>
                            <td>
                                <input type="number" th:field="*{day}" id="existingDay" name="existingDay" placeholder="DD" style="width: 60px"/>
                                <input type="number" th:field="*{month}" id="existingMonth" name="existingMonth" placeholder="MM" style="width: 60px"/>
                                <input type="number" th:field="*{year}" id="existingYear" name="existingYear" placeholder="YYYY" style="width: 76px"/>
                            </td>
                            <td><span class="error" th:if="${#fields.hasErrors('day')}" th:errors="*{day}"/></td>
                        </tr>
                        <tr>
                            <td>Hospital number</td>
                            <td><input type="number" th:field="*{hospitalNumber}" id="existingHospitalNumber" name="existingHospitalNumber" placeholder="Hospital Number"/></td>
                            <td><span class="error" th:if="${#fields.hasErrors('hospitalNumber')}" th:errors="*{hospitalNumber}"/></td>
                        </tr>
                        <tr>
                            <td>NHS number</td>
                            <td><input type="number" th:field="*{NHSNumber}" id="existingNHSNumber" name="existingNHSNumber" placeholder="NHS Number"/></td>
                            <td><span class="error" th:if="${#fields.hasErrors('NHSNumber')}" th:errors="*{NHSNumber}"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" class="custom-button orange-filled">Next</button></td>
                            <td></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </form>
</div>
</body>
</html>